<h2 align="center" mat-dialog-title>
  Editar Usuario
</h2>

<mat-dialog-content>
  <form class="new-user-form" [formGroup]="usuarioForm" (ngSubmit)="onEditUser(usuarioForm.value)">
    <!-- *Nombre -->
    <mat-form-field class="full-width" [color]="isValidField('nombre').color">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="nombre" autocomplete="no">
      <mat-icon matSuffix [color]="isValidField('nombre').color">
        {{isValidField('nombre').icon}}
      </mat-icon>
      <mat-error *ngIf="usuarioForm.get('nombre').errors?.required">
        Ingrese un nombre.
      </mat-error>
      <mat-error *ngIf="usuarioForm.get('nombre').errors?.pattern">
        Debe incluir solo letras en minuscula.
      </mat-error>
    </mat-form-field>

    <!-- *Apellido Paterno -->
    <mat-form-field class="full-width" [color]="isValidField('apellidoPaterno').color">
      <mat-label>Apellido Paterno</mat-label>
      <input matInput formControlName="apellidoPaterno" autocomplete="no">
      <mat-icon matSuffix [color]="isValidField('apellidoPaterno').color">
        {{isValidField('apellidoPaterno').icon}}
      </mat-icon>
      <mat-error *ngIf="usuarioForm.get('apellidoPaterno').errors?.required">
        Por favor ingrese el apellido paterno.
      </mat-error>
      <mat-error *ngIf="usuarioForm.get('apellidoPaterno').errors?.maxlength">
        Debe contener {{usuarioForm.get('apellidoPaterno').errors?.maxlength?.requiredLength}} letras como maximo.
      </mat-error>
      <mat-error *ngIf="usuarioForm.get('apellidoPaterno').errors?.pattern">
        Debe incluir solo letras en minuscula.
      </mat-error>
    </mat-form-field>

    <!-- *Apellido Materno -->
    <mat-form-field class="full-width" [color]="isValidField('apellidoMaterno').color">
      <mat-label>Apellido Materno</mat-label>
      <mat-icon matSuffix [color]="isValidField('apellidoMaterno').color" *ngIf="usuarioForm.value.apellidoMaterno">
        {{isValidField('apellidoMaterno').icon}}
      </mat-icon>
      <input matInput formControlName="apellidoMaterno" autocomplete="no">
      <mat-error *ngIf="usuarioForm.get('apellidoMaterno').errors?.maxlength">
        Debe contener {{usuarioForm.get('apellidoMaterno').errors?.maxlength?.requiredLength}} letras como maximo.
      </mat-error>
      <mat-error *ngIf="usuarioForm.get('apellidoMaterno').errors?.pattern">
        Debe incluir solo letras en minuscula.
      </mat-error>
    </mat-form-field>

    <!-- *Celular -->
    <mat-form-field class="full-width" [color]="isValidField('celular').color">
      <mat-label>Celular</mat-label>
      <span matPrefix>+591 &nbsp;</span>
      <input type="tel" matInput placeholder="69409749" formControlName="celular">
      <mat-icon matSuffix [color]="isValidField('celular').color">
        {{isValidField('celular').icon}}
      </mat-icon>
      <mat-error *ngIf="usuarioForm.get('celular').errors?.required">
        Ingrese el numero de celular o telefono.
      </mat-error>
      <mat-error *ngIf="usuarioForm.get('celular').errors?.pattern else min_maxLength">
        Debe incluir solo numeros.
      </mat-error>
      <ng-template #min_maxLength>
        <mat-error *ngIf="usuarioForm.get('celular').errors?.minlength">
          Debe contener {{usuarioForm.get('celular').errors?.minlength?.requiredLength}} numeros como minimo.
        </mat-error>
        <mat-error *ngIf="usuarioForm.get('celular').errors?.maxlength">
          Debe contener {{usuarioForm.get('celular').errors?.maxlength?.requiredLength}} numeros como maximo.
        </mat-error>
      </ng-template>
    </mat-form-field>

    <!-- *Rol -->
    <mat-form-field class="full-width" [color]="isValidField('rol').color">
      <mat-label>Rol</mat-label>
      <mat-select formControlName="rol">
        <mat-option value="administrador">
          Administrador
        </mat-option>
        <mat-option value="arquitecto">
          Arquitecto
        </mat-option>
        <mat-option value="vendedor">
          Vendedor
        </mat-option>
        <mat-option value="cliente">
          Cliente
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- *Estado -->
    <mat-form-field class="full-width" [color]="isValidField('activo').color">
      <mat-label>Estado</mat-label>
      <mat-select formControlName="activo">
        <mat-option [value]="true">
          Activo
        </mat-option>
        <mat-option [value]="false">
          Inactivo
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- *Username -->
    <mat-form-field [color]="isValidField('username').color">
      <mat-checkbox matPrefix align="start" matTooltip="Generar Usuario" matTooltipPosition="below"
        formControlName="autoUsuario" (change)="onCheckBox(usuarioForm.value)">
      </mat-checkbox>
      <mat-label>Username</mat-label>
      <input matInput formControlName="username">
      <mat-icon matSuffix [color]="isValidField('username').color"
        *ngIf="!usuarioForm.value.autoUsuario else isValidUsername">
        {{isValidField('username').icon}}
      </mat-icon>
      <ng-template #isValidUsername>
        <mat-icon matSuffix color="accent">
          done
        </mat-icon>
      </ng-template>
      <mat-error *ngIf="usuarioForm.get('username').errors?.required">
        Ingrese un nombre de usuario.
      </mat-error>
      <mat-error *ngIf="usuarioForm.get('username').errors?.minlength">
        Debe contener {{usuarioForm.get('username').errors?.minlength?.requiredLength}} digitos como minimo.
      </mat-error>
      <mat-error *ngIf="usuarioForm.get('username').errors?.maxlength">
        Debe contener {{usuarioForm.get('username').errors?.maxlength?.requiredLength}} digitos como maximo.
      </mat-error>
    </mat-form-field>

    <!-- *Contrasenha -->
    <mat-form-field [color]="isValidField('contrasenha').color">
      <mat-label>Contraseña</mat-label>
      <input matInput formControlName="contrasenha">
      <mat-slide-toggle matSuffix matTooltip="Nueva Contraseña" matTooltipPosition="below"
        formControlName="newContrasenha" (change)="onSlideToggle(usuarioForm.value)"
        [color]=" usuarioForm.value.autoContrasenha ? 'accent' : isValidField('contrasenha').color">
      </mat-slide-toggle>

      <mat-checkbox matPrefix formControlName="autoContrasenha" matTooltip="Generar Contraseña"
        matTooltipPosition="below" (change)="onCheckBox(usuarioForm.value)">
      </mat-checkbox>

      <mat-error *ngIf="usuarioForm.get('contrasenha').errors?.required">
        Ingrese una contraseña.
      </mat-error>
      <mat-error *ngIf="usuarioForm.get('contrasenha').errors?.minlength">
        Debe contener {{usuarioForm.get('contrasenha').errors?.minlength?.requiredLength}} digitos como minimo.
      </mat-error>
      <mat-error *ngIf="usuarioForm.get('contrasenha').errors?.maxlength">
        Debe contener {{usuarioForm.get('contrasenha').errors?.maxlength?.requiredLength}} digitos como maximo.
      </mat-error>
    </mat-form-field>


    <!-- *Correo -->
    <mat-form-field class="full-width  full-column" [color]="isValidField('correo').color">
      <mat-label>Correo</mat-label>
      <input matInput formControlName="correo">
      <mat-icon matSuffix [color]="isValidField('correo').color">
        {{isValidField('correo').icon}}
      </mat-icon>
      <mat-error *ngIf="usuarioForm.get('correo').errors?.required">
        Por favor ingrese el correo.
      </mat-error>
      <mat-error *ngIf="usuarioForm.get('correo').errors?.pattern">
        Por favor ingrese un correo valido.
      </mat-error>
    </mat-form-field>

    <!-- *Direccion -->
    <mat-form-field class="full-width full-column" [color]="isValidField('direccion').color">
      <mat-label>Direccion</mat-label>
      <textarea matInput placeholder="Ex. 100 Main St" formControlName="direccion"></textarea>
      <mat-icon matSuffix [color]="isValidField('direccion').color" *ngIf="usuarioForm.value.direccion">
        {{isValidField('direccion').icon}}
      </mat-icon>
      <mat-error *ngIf="usuarioForm.get('direccion').errors?.maxlength">
        Debe contener {{usuarioForm.get('direccion').errors?.maxlength?.requiredLength}} digitos como maximo.
      </mat-error>
    </mat-form-field>

  </form>
</mat-dialog-content>

<mat-dialog-actions mat-dialog-actions>
  <button mat-button mat-dialog-close class="mat-btn-secondary">Cancelar</button>
  <button mat-button class="mat-btn-success" (click)="onEditUser(usuarioForm.value)" [disabled]="!usuarioForm.valid">
    Editar
  </button>
</mat-dialog-actions>
