<div class="content">

  <div class="stats-container">
    <app-status-card [icon]="'library_books'" [color]="'var(--info)'">
      <div slot="title">
        Proyectos Totales
      </div>
      <div slot="count">
        1
      </div>
    </app-status-card>

    <app-status-card [icon]="'engineering'" [color]="'var(--accent)'">
      <div slot="title">
        Proyectos en Curso
      </div>
      <div slot="count">
        1
      </div>
    </app-status-card>

    <app-status-card [icon]="'done_all'" [color]="'var(--success)'">
      <div slot="title">
        Proyectos Finzalizados
      </div>
      <div slot="count">
        0
      </div>
    </app-status-card>

  </div>


  <!-- table -->
  <div class="table-container mat-elevation-z8">
    <div class="header-table" [style.display]="selected.length ? 'none' : 'grid'">
      <mat-form-field>
        <mat-label>Buscar</mat-label>
        <input matInput autocomplete="off" (keyup)="applyFilter($event)" placeholder="Ex. Proyecto"
          [(ngModel)]="filterValue" #input>
        <button mat-button *ngIf="filterValue" matSuffix mat-icon-button aria-label="Clear" (click)="input.value = ''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <button mat-icon-button (click)="onAddProyecto()" matTooltip="Nuevo Proyecto" matTooltipPosition="below"
        class="btn-add">
        <mat-icon class="mat-18">
          add
        </mat-icon>
      </button>
    </div>
    <div *ngIf="selected.length">
      <div class="delete-table">
        <button mat-icon-button (click)="clearCheckbox()" class="btn-clear">
          <mat-icon>clear</mat-icon>
        </button>
        <span>
          Seleccionados {{selected.length}}
        </span>
        <button mat-raised-button class="btn-delete" (click)="onDeleteProyecto()">Elminar</button>
      </div>
    </div>

    <div class="table-content">
      <table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort>

        <ng-container matColumnDef="seleccion" sticky>
          <th *matHeaderCellDef class="actions-table">
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
            </mat-checkbox>
          </th>
          <td *matCellDef="let row" class="actions-table">
            <mat-checkbox (click)="$event.stopPropagation() " (change)="$event ? selection.toggle(row) : null"
              [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
          </td>
        </ng-container>

        <!-- *nombre -->
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
          <td mat-cell *matCellDef="let row" class="text-center">
            <a [routerLink]="['/admin/proyecto/', row.uuid]" class="link-proyecto">
              {{row.nombre}}
            </a>
          </td>
        </ng-container>

        <!-- *porcentaje -->
        <ng-container matColumnDef="porcentaje">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Porcentaje </th>
          <td mat-cell *matCellDef="let row" class="text-center">
            <div style="font-size: 10px;">
              {{row.porcentaje ? row.porcentaje : 0}}%
            </div>
            <mat-progress-bar mode="buffer" [value]="row.porcentaje ? row.porcentaje : 0"
              style="height: 10px; border-radius: 5px;">
            </mat-progress-bar>
          </td>
        </ng-container>

        <!-- *categoria -->
        <ng-container matColumnDef="categoria">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Categoria </th>
          <td mat-cell *matCellDef="let row" class="text-center">
            {{'construccion'}}

          </td>
        </ng-container>

        <!-- *cliente -->
        <ng-container matColumnDef="cliente">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Cliente </th>
          <td mat-cell *matCellDef="let row" class="text-center">
            <a [routerLink]="['/admin/usuario/', row.nombreCliente]" class="link-proyecto">
              {{row.nombreCliente  + ' '+ row.apellidoPaterno + ' '+ row.apellidoMaterno}}
            </a>
          </td>
        </ng-container>

        <!-- *estado -->
        <ng-container matColumnDef="estado">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
          <td mat-cell *matCellDef="let row">
            <div [class]="row.estado ? 'proyecto-activo' : 'proyecto-no-activo'">

            </div>
          </td>
        </ng-container>

        <!-- *fechaInicio -->
        <ng-container matColumnDef="fechaInicio">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Inicio </th>
          <td mat-cell *matCellDef="let row" class="text-center"> {{row.fechaInicio | date }} </td>
        </ng-container>

        <!-- *fechaFinal -->
        <ng-container matColumnDef="fechaFinal">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Final </th>
          <td mat-cell *matCellDef="let row" class="text-center"> {{row.fechaFinal | date}} </td>
        </ng-container>

        <!-- *lugarProyecto -->
        <ng-container matColumnDef="lugarProyecto">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Lugar Proyecto </th>
          <td mat-cell *matCellDef="let row" class="text-center"> {{row.lugarProyecto}} </td>
        </ng-container>

        <!-- *descripcion -->
        <ng-container matColumnDef="descripcion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripcion </th>
          <td mat-cell *matCellDef="let row" class="text-center"> {{row.descripcion}} </td>
        </ng-container>


        <!-- *edit -->
        <ng-container matColumnDef="edit" stickyEnd>
          <th *matHeaderCellDef mat-sort-header>
          </th>
          <td *matCellDef="let row" class="text-center">
            <button mat-icon-button (click)="onUpdateProyecto(row)">
              <mat-icon class="edit-icon">
                edit
              </mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">
            No hay datos que coincidan con el filtro: "{{input.value}}"</td>
        </tr>
      </table>
    </div>
    <mat-paginator [pageSizeOptions]="[ 5, 10, 100]"></mat-paginator>
  </div>


</div>
