button {
  background-color: white;
  font-weight: bold;
}

.mat-btn-primary {
  background-color: var(--primary);
  color: white;
  font-size: 16px;
  border-radius: 25px;

  &:hover {
    color: white;
    box-shadow: 0 0 3px 3px var(--primary);
  }
}

.mat-btn-secondary {
  background-color: var(--secondary);
  color: white;
  font-size: 14px;
  border-radius: 25px;


  &:hover {
    color: white;
    box-shadow: 0 0 3px 3px var(--secondary);
  }
}

.mat-btn-warn {
  background-color: var(--warn);
  color: white;
  font-size: 14px;
  border-radius: 25px;

  &:hover {
    color: white;
    box-shadow: 0 0 3px 3px var(--warn);
  }
}
