    <div slot="title">
      <h1>
        Nueva Categoria de Recurso
      </h1>
    </div>
    <form class="new-user-form" [formGroup]="newRecursoForm" (ngSubmit)="onAddUser(newRecursoForm.value)">
  
      <mat-form-field class="full-width full-column">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="nombre">
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Estado</mat-label>
        <mat-select formControlName="estado">
            <mat-option value=1>Disponible</mat-option>
            <!-- <mat-option value=0>Utilizado</mat-option> -->
        </mat-select>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Categoria</mat-label>
        <mat-select formControlName="idCategoriaRecurso">
            <mat-option  *ngFor="let i of categoriaRecurso" value="{{i.idCategoriaRecurso}}">{{i.nombre}}</mat-option>
            
        </mat-select>
      </mat-form-field>
  
      <!-- <mat-form-field class="full-width">
        <mat-label>Color</mat-label>
        <input matInput type="color" formControlName="color">
      </mat-form-field> -->
  
      <mat-form-field class="full-width full-column">
        <mat-label>Descripcion</mat-label>
        <textarea matInput placeholder="Recursos duros" formControlName="descripcion"></textarea>
      </mat-form-field>
  
      <button mat-button mat-dialog-close type="submit" class="full-column mat-btn-primary" style="border-radius: 25px;"
        [disabled]="!newRecursoForm.valid">
        Guardar
      </button>
  
    </form>
  