<h2 align="center" mat-dialog-title>Nuevo Proveedor</h2>
<mat-dialog-content>
  <form class="edit-form" [formGroup]="proveedorForm">
    <!-- *Nombre -->
    <mat-form-field
      class="full-width full-column"
      [color]="isValidField('nombre').color"
    >
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="nombre" autocomplete="off" />
      <mat-icon matSuffix [color]="isValidField('nombre').color">
        {{ isValidField("nombre").icon }}
      </mat-icon>
      <mat-error *ngIf="proveedorForm.get('nombre').errors?.required">
        Ingrese un nombre.
      </mat-error>
      <mat-error *ngIf="proveedorForm.get('nombre').errors?.pattern">
        Debe incluir solo letras en minuscula o numeros.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Recurso</mat-label>
      <mat-select
        style="position: relative"
        formControlName="uuidRecurso"
        (click)="loadSelectRecursos()"
      >
        <div class="search-container">
          <mat-form-field>
            <mat-label>Buscar</mat-label>
            <input
              class="search-input"
              matInput
              autocomplete="off"
              [formControl]="searchRecurso"
            />
            <button
              mat-icon-button
              matSuffix
              *ngIf="searchRecurso.value"
              (click)="loadSelectRecursos()"
              class="btn-clear-input"
            >
              <mat-icon> clear </mat-icon>
            </button>
          </mat-form-field>
        </div>

        <mat-option
          *ngFor="let recurso of selectedRecursos"
          [value]="recurso.uuid"
        >
          {{ recurso.nombre }}
        </mat-option>
      </mat-select>
      <mat-icon matSuffix [color]="isValidField('uuidRecurso').color">
        {{ isValidField("uuidRecurso").icon }}
      </mat-icon>
      <mat-error *ngIf="proveedorForm.get('uuidRecurso').errors?.required">
        Seleccione un recurso.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width" [color]="isValidField('celular').color">
      <mat-label>Celular</mat-label>
      <span matPrefix>+591 &nbsp;</span>

      <input
        type="tel"
        matInput
        placeholder="69409749"
        formControlName="celular"
        autocomplete="off"
      />

      <mat-hint align="end">
        {{
          proveedorForm.value.celular
            ? getString(proveedorForm.value.celular).length
            : 0
        }}/8
      </mat-hint>
      <mat-icon matSuffix [color]="isValidField('celular').color">
        {{ isValidField("celular").icon }}
      </mat-icon>
      <mat-error *ngIf="proveedorForm.get('celular').errors?.required">
        Ingrese el numero de celular o telefono.
      </mat-error>
      <mat-error
        *ngIf="proveedorForm.get('celular').errors?.pattern; else min_maxLength"
      >
        Debe incluir solo numeros.
      </mat-error>
      <ng-template #min_maxLength>
        <mat-error *ngIf="proveedorForm.get('celular').errors?.minlength">
          Debe contener
          {{ proveedorForm.get("celular").errors?.minlength?.requiredLength }}
          numeros como minimo.
        </mat-error>
        <mat-error *ngIf="proveedorForm.get('celular').errors?.maxlength">
          Debe contener
          {{ proveedorForm.get("celular").errors?.maxlength?.requiredLength }}
          numeros como maximo.
        </mat-error>
      </ng-template>
    </mat-form-field>

    <mat-form-field
      class="full-width full-column"
      [color]="isValidField('direccion').color"
    >
      <mat-label>Direccion</mat-label>
      <textarea
        matInput
        placeholder="Ex. Avenida Segunda"
        formControlName="direccion"
      ></textarea>
      <mat-hint align="end">
        {{
          proveedorForm.value.direccion
            ? proveedorForm.value.direccion.length
            : 0
        }}/200
      </mat-hint>
      <mat-icon
        matSuffix
        [color]="isValidField('direccion').color"
        *ngIf="proveedorForm.value.descripcion"
      >
        {{ isValidField("direccion").icon }}
      </mat-icon>
      <mat-error *ngIf="proveedorForm.get('direccion').errors?.maxlength">
        Debe contener
        {{ proveedorForm.get("direccion").errors?.maxlength?.requiredLength }}
        digitos como maximo.
      </mat-error>
    </mat-form-field>

    <!-- *Descripcion -->
    <mat-form-field
      class="full-width full-column"
      [color]="isValidField('descripcion').color"
    >
      <mat-label>Descripcion</mat-label>
      <textarea matInput formControlName="descripcion"></textarea>
      <mat-hint align="end">
        {{
          proveedorForm.value.descripcion
            ? proveedorForm.value.descripcion.length
            : 0
        }}/200
      </mat-hint>
      <mat-icon
        matSuffix
        [color]="isValidField('descripcion').color"
        *ngIf="proveedorForm.value.descripcion"
      >
        {{ isValidField("descripcion").icon }}
      </mat-icon>
      <mat-error *ngIf="proveedorForm.get('descripcion').errors?.maxlength">
        Debe contener
        {{ proveedorForm.get("descripcion").errors?.maxlength?.requiredLength }}
        digitos como maximo.
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button
    mat-button
    [mat-dialog-close]="false"
    class="mat-btn-secondary full-width"
  >
    Cancelar
  </button>
  <button
    mat-button
    class="mat-btn-success"
    (click)="onAddProveedor(proveedorForm.value)"
    [disabled]="!proveedorForm.valid"
  >
    Guardar
  </button>
</mat-dialog-actions>
