.content::after {
  content: "";
  background-image: url('./../../../assets/bg.svg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0px;
  right: 0;
  position: absolute;
  z-index: -1;
}

.stats-container {
  margin: 20px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  justify-content: center;
  align-items: center;
}


.personal-activo {
  width: 15px;
  height: 15px;
  background-color: var(--success);
  border-radius: 25px;
}

.personal-no-activo {
  width: 15px;
  height: 15px;
  background-color: var(--warn);
  border-radius: 25px;
}


@media screen and(max-width: 800px) {
  .stats-container {
    grid-template-columns: repeat(2, 1fr);
  }

  app-status-card:first-child {
    grid-column: 1 / span 2;
  }

}

@media screen and(max-width: 330px) {
  .stats-container {
    grid-template-columns: 1fr;
  }

  app-status-card:first-child {
    grid-column: span 1;
  }
}
