<div class="content">
  <!-- table -->
  <div class="table-container mat-elevation-z8">
    <div class="header-table" [style.display]="selected.length ? 'none' : 'grid'">
      <mat-form-field>
        <mat-label>Buscar</mat-label>
        <input matInput autocomplete="off" (keyup)="applyFilter($event)" placeholder="Ex. Proyecto"
          [(ngModel)]="filterValue" #input>
        <button mat-button *ngIf="filterValue" matSuffix mat-icon-button aria-label="Clear" (click)="input.value = ''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <button mat-icon-button (click)="onAddPersonal()" matTooltip="Nuevo Proyecto" matTooltipPosition="below"
        class="btn-add">
        <mat-icon class="mat-18">
          add
        </mat-icon>
      </button>
    </div>
    <div *ngIf="selected.length">
      <div class="delete-table">
        <button mat-icon-button (click)="clearCheckbox()" class="btn-clear">
          <mat-icon>clear</mat-icon>
        </button>
        <span>
          Seleccionados {{selected.length}}
        </span>
        <button mat-raised-button class="btn-delete" (click)="ondeletePersonal()">Elminar</button>
      </div>
    </div>

    <div class="table-content">
      <table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort>

        <ng-container matColumnDef="seleccion" sticky>
          <th *matHeaderCellDef class="actions-table">
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
            </mat-checkbox>
          </th>
          <td *matCellDef="let row" class="actions-table">
            <mat-checkbox (click)="$event.stopPropagation() " (change)="$event ? selection.toggle(row) : null"
              [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
          </td>
        </ng-container>





        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
          <td mat-cell *matCellDef="let row" class="text-center"> {{row.nombre}} </td>
        </ng-container>

        <ng-container matColumnDef="apellidos">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellidos </th>
          <td mat-cell *matCellDef="let row" class="text-center"> {{row.apellidos}} </td>
        </ng-container>

        <ng-container matColumnDef="celular">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Celular </th>
          <td mat-cell *matCellDef="let row" class="text-center"> {{row.celular}} </td>
        </ng-container>

        <ng-container matColumnDef="direccion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Direccion </th>
          <td mat-cell *matCellDef="let row" style="white-space: normal; min-width: 150px;" class="text-center">
            {{row.direccion}} </td>
        </ng-container>

        <ng-container matColumnDef="correo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Correo </th>
          <td mat-cell *matCellDef="let row" class="text-center"> {{row.correo}} </td>
        </ng-container>
        <ng-container matColumnDef="cargo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Cargo </th>
          <td mat-cell *matCellDef="let row" class="text-center"> {{row.correo}} </td>
        </ng-container>
        <ng-container matColumnDef="sueldo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Sueldo </th>
          <td mat-cell *matCellDef="let row" class="text-center"> {{row.correo}} </td>
        </ng-container>
        <ng-container matColumnDef="edit" stickyEnd>
          <th *matHeaderCellDef mat-sort-header>
            <!-- Editar -->
          </th>
          <td *matCellDef="let row" class="text-center">
            <button mat-icon-button (click)="oneditPersonal(row)">
              <mat-icon class="edit-icon">
                edit
              </mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">
            No hay datos que coincidan con el filtro: "{{input.value}}"</td>
        </tr>
      </table>
    </div>
    <mat-paginator [pageSizeOptions]="[ 5, 10, 100]"></mat-paginator>
  </div>


</div>
