<div class="content">
  <div class="stats-container">
    <app-status-card [icon]="'support_agent'" color="primary">
      <div slot="title">Pendientes</div>
      <div slot="count">
        {{ 0 }}
      </div>
    </app-status-card>

    <app-status-card [icon]="'verified'" color="info">
      <div slot="title">Confirmados</div>
      <div slot="count">
        {{ 0 }}
      </div>
    </app-status-card>

    <app-status-card [icon]="'store'" color="purple">
      <div slot="title">Para Recoger</div>
      <div slot="count">
        {{ 0 }}
      </div>
    </app-status-card>

    <app-status-card [icon]="'local_shipping'" color="accent">
      <div slot="title">En envío</div>
      <div slot="count">
        {{ 0 }}
      </div>
    </app-status-card>

    <app-status-card [icon]="'done_all'" color="success">
      <div slot="title">Completados</div>
      <div slot="count">
        {{ 0 }}
      </div>
    </app-status-card>
  </div>

  <div class="table-container mat-elevation-z2" style="margin-top: 5px">
    <div
      class="header-table"
      [style.display]="selectedPedido.length ? 'none' : 'grid'"
    >
      <mat-form-field>
        <mat-label>Buscar</mat-label>
        <input
          matInput
          autocomplete="off"
          (keyup)="applyFilterCapitulo($event)"
          placeholder="Ex. bladimir"
          [(ngModel)]="filterValuePedido"
          #inputSearch
        />

        <button
          mat-button
          *ngIf="filterValuePedido"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="applyFilterCapitulo('')"
          (click)="input.value = ''"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <button
        mat-icon-button
        matTooltip="Nuevo Capitulo"
        matTooltipPosition="below"
        class="btn-add"
      >
        <mat-icon class="mat-18"> add </mat-icon>
      </button>
    </div>

    <div *ngIf="selectedPedido.length">
      <div class="delete-table">
        <button mat-icon-button (click)="clearCheckbox()" class="btn-clear">
          <mat-icon>clear</mat-icon>
        </button>
        <span> Seleccionados {{ selectedPedido.length }} </span>
        <button class="btn-delete">Elminar</button>
      </div>
    </div>

    <div class="table-content">
      <table
        mat-table
        [dataSource]="dataSourcePedido"
        multiTemplateDataRows
        class="mat-elevation-z2"
        matSort
      >
        <ng-container matColumnDef="seleccion" sticky>
          <th *matHeaderCellDef class="actions-table">
            <mat-checkbox
              color="warn"
              (change)="$event ? masterToggle() : null"
              [checked]="selectionCapitulo.hasValue() && isAllSelectedPedidos()"
              [indeterminate]="
                selectionCapitulo.hasValue() && !isAllSelectedPedidos()
              "
              [aria-label]="checkboxLabel()"
            >
            </mat-checkbox>
          </th>
          <td *matCellDef="let row" class="actions-table">
            <mat-checkbox
              color="warn"
              (click)="$event.stopPropagation()"
              (change)="$event ? selectionCapitulo.toggle(row) : null"
              [checked]="selectionCapitulo.isSelected(row)"
              [aria-label]="checkboxLabel(row)"
            >
            </mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="estado">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado</th>
          <td mat-cell *matCellDef="let row" class="text-center">
            {{ row.estado | titlecase }}
          </td>
        </ng-container>

        <ng-container matColumnDef="numeroPedido">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Pedido</th>
          <td mat-cell *matCellDef="let row" class="text-center">
            <span>
              <a
                [routerLink]="['/admin/pedidos/pedido', row.uuid]"
                class="custom-a"
              >
                Nro. {{ row.numeroPedido }}
              </a>
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="metodoDePago">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Metodo de pago
          </th>
          <td
            mat-cell
            *matCellDef="let row"
            class="text-center"
            style="width: 150px"
          >
            {{ row.metodoDePago }}
          </td>
        </ng-container>

        <ng-container matColumnDef="tipoEnvio">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo Envio</th>
          <td
            mat-cell
            *matCellDef="let row"
            class="td-longtext text-center"
            [matTooltip]="row.nombre"
            matTooltipPosition="below"
          >
            <span>
              {{ row.tipoEnvio }}
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Cliente</th>
          <td mat-cell *matCellDef="let row" class="td-longtext text-center">
            <span>
              <a
                [routerLink]="['/admin/usuarios/']"
                [queryParams]="{
                  s: row.uuidCliente
                }"
                class="custom-a"
              >
                {{
                  row.nombre +
                    " " +
                    row.apellidoPaterno +
                    " " +
                    row.apellidoMaterno | titlecase
                }}
              </a>
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="nombreFactura">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Nombre Factura
          </th>
          <td mat-cell *matCellDef="let row" class="text-center">
            {{ row.nombreFactura }}
          </td>
        </ng-container>

        <ng-container matColumnDef="nitCI">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>NIT o CI</th>
          <td mat-cell *matCellDef="let row" class="text-center">
            {{ row.nitCI }}
          </td>
        </ng-container>

        <ng-container matColumnDef="total">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Total</th>
          <td mat-cell *matCellDef="let row" class="text-center">
            {{ row.total ? (row.total | number: "1.2-2") : 0 }} Bs.
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="10" align="center">
            <div *ngIf="inputSearch.value; else noData">
              No hay datos que coincidan con el filtro: "{{
                inputSearch.value
              }}"
            </div>
            <ng-template #noData align="center">
              <img
                src="./assets/no_data.svg"
                alt=""
                width="100"
                style="margin: 5px"
                class="no-select"
              />
              <p>Tabla vacía, aún no creaste un proyecto.</p>
            </ng-template>
          </td>
        </tr>
      </table>
    </div>
    <mat-paginator
      [pageSizeOptions]="[5, 10, 20, 100]"
      showFirstLastButtons
    ></mat-paginator>
  </div>
</div>
