.wave {

  position: absolute;
  top: 0;
  right: 0;
  height: 250px;
  z-index: -2;
}





.flex-side {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}

mat-sidenav-container {
  height: 100%;
}

.sidenav-container {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  overflow: hidden;
  grid-gap: 5px;

  .anclas {
    overflow: auto;
    padding-top: 10px;

  }

}

mat-sidenav {
  width: 250px;
  height: 100%;
  background-color: white;

  mat-icon {
    cursor: pointer;
    color: var(--secondary);
  }
}

mat-sidenav-content {
  color: var(--secondary);
  overflow: auto;
}

.flex-closed {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  overflow: hidden;
  justify-content: flex-end;

  mat-icon {
    color: white;
  }
}

mat-toolbar {
  background-color: white;
  height: 60px;

  mat-icon {
    color: var(--secondary);
  }
}

.logo {
  margin: 20px 10px;
}

.btn-admin {
  padding: 0;
  width: 100%;
  border-radius: 0;
  height: 45px;
  text-align: center;


  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-left: 5px solid transparent;

  outline: none;

  font-size: 16px;

  mat-icon {
    color: var(--secondary);
    margin: 0 20px;
    font-size: 22px;
  }




}

.btn-extra {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 50px;
}

.btn-just-border {
  // margin-top: 100px;
  width: 90%;


  background-color: var(--primary);
  color: white;

}


.btn-fill {

  margin-top: 10px;
  width: 90%;
  background-color: var(--secondary);
  color: white;
}

.active {
  // border-right: 2px solid var(--primary);
  // background-color: #EBEBEB;
  color: var(--secondary);
  // background-color: var(--primary);
  border-left: 5px solid var(--primary);

  .active-wave {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    // border-radius: 100% 0% 78% 22% / 0% 100% 0% 100%;
  }


  // color: var(--primary);

  mat-icon {
    color: var(--primary);
  }
}




// .outlet {
//   position: relative;
//   width: 100%;
//   height: calc(100% - 60px);
//   overflow: auto;
// }
