@import "./../../../styles/side-nav.scss";

.toolbar-between {
  display: flex;
  justify-content: space-between;
}

.logo-row-container {
  display: flex;
  flex-flow: row nowrap;
}

.flex-closed {
  justify-content: space-between;

  .backIcon {
    color: var(--secondary);
  }
}

.usuarioSide {
  display: grid;
  grid-template-columns: repeat(2, auto);
  place-items: center;
  text-decoration: none;
  color: var(--secondary);

  &:hover {
    color: var(--primary);
  }

  h3 {
    font-size: 16px;
  }

  img {
    border-radius: 50px;
    background-color: whitesmoke;
    display: grid;
    place-items: center;
    height: 50px;
    width: 50px;
    object-fit: cover;
  }
}

.circle-profile {
  cursor: pointer;
  background-color: var(--primary);
  span {
    color: white;
    display: grid;
    place-items: center;
    font-size: 24px !important;
    text-transform: capitalize;
    font-family: cubano;
  }
}

@media screen and(max-width:530px) {
  .usuarioSide {
    h3 {
      display: none;
    }
  }
}
