<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #drawer [mode]="breakpoint ? 'over': 'side'" [opened]="!breakpoint">

    <div class="flex-side">
      <div>
        <div class="flex-closed">
          <div>
            <a (click)="onback()">
              <mat-icon>
                chevron_left
              </mat-icon>
            </a>
            <a (click)="onForward()">
              <mat-icon>
                chevron_right
              </mat-icon>
            </a>
          </div>
          <div>
            <mat-icon (click)="drawer.close()">
              closed
            </mat-icon>
          </div>
        </div>

        <div class="logo" routerLink="/admin">
          <img src="./assets/ma.svg" alt="">
          <span>MendozArq</span>
        </div>

        <button mat-button class="btn-admin" routerLink="dashboard" routerLinkActive="active"
          (click)="breakpoint ? drawer.close() : false">
          <mat-icon class="mat-18 mr-3">dashboard</mat-icon>
          Dashboard
        </button>

        <button mat-button class="btn-admin" routerLink="proyects" routerLinkActive="active"
          (click)="breakpoint ? drawer.close() : false">
          <mat-icon class="mat-18 mr-3">folder</mat-icon>
          Proyectos
        </button>
        <button mat-button class="btn-admin" routerLink="users" routerLinkActive="active"
          (click)="breakpoint ? drawer.close() : false">
          <mat-icon class="mat-18 mr-3">people</mat-icon>
          Usuarios
        </button>

      </div>


      <div class="btn-extra">
        {{gg | json}}

        <button mat-button class="btn-just-border" (click)="onback()">
          Volver al inicio
        </button>
        <button mat-button class="btn-fill" (click)="onLogout()">
          Cerrar sesion
        </button>
      </div>

    </div>

  </mat-sidenav>


  <mat-sidenav-content>
    <mat-toolbar *ngIf="drawer.opened === false || breakpoint">
      <div mat-mini-fab>
        <mat-icon (click)="drawer.open()">
          menu
        </mat-icon>

      </div>
      <div class="logo" routerLink="/">
        <img src="./assets/ma.svg" alt="">
        <span>MendozArq</span>
      </div>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
