<div class="content ">

  <p>
    Servicios de arquitectura y construccion , diseño arquitectonico, asesoramiento tecnico de construcciones,
    consultorias, avaluos y peritajes
  </p>
  <p>
    <app-button [color]="'primary'" (click)="min()">primary</app-button>
  </p>

  <p>
    <app-button [color]="'secondary'">secondary</app-button>
  </p>

  <p>
    <app-button [color]="'warn'">warn</app-button>
  </p>
  <p>
    <app-button [color]="'primary'" (click)="openDialog()">modal</app-button>
  </p>


  hola...........
</div>
