<h2 align="center" mat-dialog-title>Nueva Tarea</h2>
<mat-dialog-content>
  <form class="new-form" [formGroup]="tareaPlanificacionForm">
    <!-- *Nombre -->
    <mat-form-field
      class="full-width full-column"
      [color]="isValidField('nombre').color"
    >
      <input
        type="text"
        placeholder="Nombre"
        aria-label="Number"
        matInput
        formControlName="nombre"
        [matAutocomplete]="auto"
      />

      <mat-icon matSuffix [color]="isValidField('nombre').color">
        {{ isValidField("nombre").icon }}
      </mat-icon>
      <mat-hint align="end">
        {{
          tareaPlanificacionForm.value.nombre
            ? tareaPlanificacionForm.value.nombre.length
            : 0
        }}/100
      </mat-hint>
      <mat-error *ngIf="tareaPlanificacionForm.get('nombre').errors?.required">
        Ingrese un nombre.
      </mat-error>
      <mat-error *ngIf="tareaPlanificacionForm.get('nombre').errors?.pattern">
        Debe incluir solo letras en minuscula.
      </mat-error>
      <mat-error *ngIf="tareaPlanificacionForm.get('nombre').errors?.maxlength">
        Debe contener
        {{
          tareaPlanificacionForm.get("nombre").errors?.maxlength?.requiredLength
        }}
        digitos como maximo.
      </mat-error>

      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option
          *ngFor="let option of filteredOptions"
          [value]="option.descripcion"
        >
          {{ option.descripcion }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="full-width full-column">
      <mat-label>Capitulo</mat-label>
      <mat-icon matSuffix [color]="isValidField('uuidCapitulo').color">
        {{ isValidField("uuidCapitulo").icon }}
      </mat-icon>
      <mat-select formControlName="uuidCapitulo">
        <mat-option *ngFor="let cap of capitulos" [value]="cap.uuid">{{
          cap.nombre
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="full-width full-column">
      <mat-label>Dependencia</mat-label>
      <mat-icon matSuffix [color]="isValidField('dependencia').color">
        {{ isValidField("dependencia").icon }}
      </mat-icon>
      <mat-select formControlName="dependencia">
        <mat-option value="">Ninguno</mat-option>

        <mat-option *ngFor="let dep of dependencias" [value]="dep.uuid">{{
          dep.nombre
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- *fechas -->
    <mat-form-field class="full-width full-column">
      <mat-label>Ingrese un rago de fecha</mat-label>
      <mat-date-range-input
        [formGroup]="tareaPlanificacionForm"
        [rangePicker]="picker"
      >
        <input
          matStartDate
          formControlName="fechaInicio"
          placeholder="Fecha Inicio"
        />
        <input
          matEndDate
          formControlName="fechaFinal"
          placeholder="Fecha final"
        />
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
      <mat-error
        *ngIf="
          tareaPlanificacionForm.controls.fechaInicio.hasError(
            'matStartDateInvalid'
          )
        "
        >Fecha de inicio invalida</mat-error
      >
      <mat-error
        *ngIf="
          tareaPlanificacionForm.controls.fechaFinal.hasError(
            'matEndDateInvalid'
          )
        "
        >Fecha final invalida</mat-error
      >

      <mat-error
        *ngIf="
          tareaPlanificacionForm.get('fechaInicio').errors?.required ||
          tareaPlanificacionForm.get('fechaFinal').errors?.required
        "
      >
        Ingrese un rango de fechas.
      </mat-error>
    </mat-form-field>

    <mat-label>Color</mat-label>
    <input
      type="color"
      class="full-width full-column"
      formControlName="color"
    />

    <mat-label>Avance</mat-label>
    <mat-slider
      formControlName="avance"
      thumbLabel
      [displayWith]="0"
      tickInterval="10"
      step="1"
      min="0"
      max="100"
      aria-label="units"
      class="full-width full-column"
      color="primary"
    ></mat-slider>

    <div class="full-width full-column">
      <h4 align="center">Lista de Actividades</h4>
      <div
        class="editable"
        contenteditable="true"
        id="ul-text"
        style="
          padding: 5px;
          background-color: white !important;
          color: #425066 !important;
        "
      >
        <li>Ninguno</li>
      </div>

      <br />

      <div style="display: grid; place-items: center">
        <mat-button-toggle-group #group="matButtonToggleGroup" align="center">
          <mat-button-toggle
            onclick="document.execCommand('bold',false,null);"
            value="left"
            aria-label="Text align left"
          >
            <mat-icon>format_bold</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle
            onclick="document.execCommand('italic',false,null);"
            value="center"
            aria-label="Text align center"
          >
            <mat-icon>format_italic</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle
            onclick="document.execCommand('underline',false,null);"
            value="right"
            aria-label="Text align right"
          >
            <mat-icon>format_underlined</mat-icon>
          </mat-button-toggle>

          <mat-button-toggle
            color="warn"
            onclick="document.execCommand('foreColor',false, 'red');"
            value="justify"
            aria-label="Text align justify"
          >
            <mat-icon style="color: red">format_color_text</mat-icon>
          </mat-button-toggle>

          <mat-button-toggle
            color="warn"
            onclick="document.execCommand('foreColor',false, '#425066');"
            value="justify"
            aria-label="Text align justify"
          >
            <!-- <mat-icon>format_color_text</mat-icon> -->

            <input
              type="color"
              class="full-width full-column"
              formControlName="color"
            />
          </mat-button-toggle>

          <mat-button-toggle
            color="warn"
            (click)="addList('li')"
            value="justify"
            aria-label="Text align justify"
          >
            <mat-icon>format_list_bulleted</mat-icon>
          </mat-button-toggle>

          <mat-button-toggle
            color="warn"
            (click)="addList('ol')"
            value="justify"
            aria-label="Text align justify"
          >
            <mat-icon>format_list_numbered</mat-icon>
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>

    <mat-checkbox formControlName="hito" class="full-width full-column"
      >Milestone o Hito</mat-checkbox
    >
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button
    mat-button
    [mat-dialog-close]="false"
    class="mat-btn-secondary full-width"
  >
    Cancelar
  </button>
  <button
    mat-button
    class="mat-btn-success"
    [disabled]="!tareaPlanificacionForm.valid"
    (click)="newPlanificacionProyecto(tareaPlanificacionForm.value)"
  >
    Guardar
  </button>
</mat-dialog-actions>
