<footer class="footer-bs">
  <div class="row">
    <div class="col-md-2 footer-brand animated fadeInLeft">
      <img src="./assets/ma.svg" alt="">
    </div>
    <div class="col-md-4 footer-nav animated fadeInUp">
      <h4>Menu</h4>
      <div class="col-md-6">
        <ul class="pages">
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Contactanos</a></li>
          <li><a href="#">Acerca de nosotros</a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-3 footer-social animated fadeInDown">
      <h4>Redes sociales</h4>
      <ul>
        <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a></li>
        <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a></li>
        <li><a href="#"><i class="fa fa-instagram"></i> Instagram</a></li>
        <li><a href="#"><i class="fa fa-google"></i> Google</a></li>
      </ul>
    </div>
    <div class="col-md-3 footer-ns animated fadeInRight">
      <h4>Copyright @</h4>
      <a>Mendozarq</a>

    </div>
  </div>
</footer>
