.example-spacer {
  flex: 1 1 auto;
}



.sidenav-container {
  height: 100%;
}

.drawer {
  width: 200px;
  height: 100%;
}

.btn-menu {

  cursor: pointer;
  background-color: white;
  display: none;

  color: var(--secondary);

}

.btn-closed {
  cursor: pointer;
}


@media screen and (max-width: 600px) {


  a {
    display: none;
  }

  .btn-menu {
    display: block;
  }
}



a {
  text-decoration: none;
  font-size: 14px;
  color: #425066;
  margin: 0 5px;
  border-bottom: 1.5px solid transparent;



  &:hover {
    color: #FF6F00;

  }
}

.active {
  border-bottom: 1.5px solid #FF3E00;

}



button {
  font-size: 14px;
}
