.table-container {
  max-width: 100%;

  table {
    max-width: 100%;
    overflow: auto;
  }
}

.header-table {
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 20px;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.table-content {
  width: 100%;
  max-width: 100%;
  overflow: auto;
}


.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 30%;
}

mat-paginator {
  width: 100%;
}
