.new-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  padding: 10px;
}

.full-column {
  grid-column: span 2;
}


mat-dialog-actions {
  display: grid;
  grid-template-areas: "secondary success";
  grid-template-columns: repeat(2, 1fr);
  place-items: 🇨enter;

  .mat-btn-success {
    grid-area: success;
  }

  .mat-btn-secondary {
    grid-area: secondary;
  }
}

@media screen and (max-width:400px) {
  mat-dialog-actions {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;

    .mat-btn-success,
    .mat-btn-secondary {
      margin: 5px 0;
      width: 100%;
    }

  }
}

@media screen and (max-width:625px) {
  .new-form {
    display: grid;
    grid-template-columns: minmax(100%, 1fr);
    grid-gap: 0;
    padding: 0;
  }

  .full-column {
    grid-column: 1;
  }
}
