<div class="content">
  <div class="stats-container">
    <app-status-card [icon]="'admin_panel_settings'" color="error">
      <div slot="title">Administradores</div>
      <div slot="count">
        {{ stats.administrador }}
      </div>
    </app-status-card>

    <app-status-card [icon]="'engineering'" color="accent">
      <div slot="title">Arquitectos</div>
      <div slot="count">
        {{ stats.arquitecto }}
      </div>
    </app-status-card>

    <app-status-card [icon]="'assignment_ind'" color="info">
      <div slot="title">Vendedores</div>
      <div slot="count">
        {{ stats.vendedor }}
      </div>
    </app-status-card>

    <app-status-card [icon]="'groups'" color="success">
      <div slot="title">Clientes</div>
      <div slot="count">
        {{ stats.cliente }}
      </div>
    </app-status-card>
  </div>

  <div class="console mat-elevation-z2">
    <div class="header-console">MENDOZARQ-LIRAKI LOGS</div>

    <div class="log" *ngFor="let log of Logs">
      <div class="header-log">
        <div class="path">
          <span class="root-path"> ~@{{ log.path }} </span>
          <span [class]="'table table-' + log.operacion">{{ log.tabla }} </span>
        </div>
        <span style="white-space: nowrap">⏲{{ formatDate(log.creadoEn) }}</span>
      </div>

      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="18px"
        width="18px"
        viewBox="0 0 24 24"
        fill="var(--text-color)"
      >
        <path d="M24 24H0V0h24v24z" fill="none" opacity=".87" />
        <path
          d="M19 15l-6 6-1.42-1.42L15.17 16H4V4h2v10h9.17l-3.59-3.58L13 9l6 6z"
        />
      </svg>

      <span>
        {{
          log.creadoPor
            ? log.creadoPor
            : log.hostname
            ? log.hostname
            : "Sin nombre"
        }}
        ==>
      </span>
      <span>
        {{
          log.operacion == "I"
            ? "insertó"
            : log.operacion == "U"
            ? "actualizó"
            : "eliminó"
        }}
      </span>
      <span
        [class]="'uuid-table option-' + log.operacion"
        (click)="openInfo(log)"
      >
        {{ log.uuidRow }}
      </span>
    </div>

    <pre
      style="
        display: grid;
        place-items: center;
        font-weight: bolder;
        color: var(--orange-light);
      "
    >
    <!-- prettier-ignore -->
    __  ___________  ______  ____  _____   ___    ____  ____
   /  |/  / ____/ | / / __ \/ __ \/__  /  /   |  / __ \/ __ \
  / /|_/ / __/ /  |/ / / / / / / /  / /  / /| | / /_/ / / / /
 / /  / / /___/ /|  / /_/ / /_/ /  / /__/ ___ |/ _, _/ /_/ /
/_/  /_/_____/_/ |_/_____/\____/  /____/_/  |_/_/ |_|\___\_\
                 __    ____  ___________
                / /   / __ \/ ____/ ___/
               / /   / / / / / __ \__ \
              / /___/ /_/ / /_/ /___/ /
             /_____/\____/\____//____/
  </pre>
  </div>
</div>
