<div class="content">
  <div class="stats-container">
    <app-status-card [icon]="'library_books'" color="info">
      <div slot="title">
        Proyectos Totales
      </div>
      <div slot="count">
        50
      </div>
    </app-status-card>

    <app-status-card [icon]="'engineering'" color="accent">
      <div slot="title">
        Proyectos en Curso
      </div>
      <div slot="count">
        50
      </div>
    </app-status-card>

    <app-status-card [icon]="'done_all'" color="success">
      <div slot="title">
        Proyectos Finzalizados
      </div>
      <div slot="count">
        50
      </div>
    </app-status-card>
  </div>

</div>
