.content::after {
  content: "";
  background-image: url("./../../../../../assets/bg.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0px;
  right: 0;
  position: absolute;
  z-index: -1;
}

.stats-container {
  margin: 30px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

@media screen and(max-width: 960px) {
  .stats-container {
    grid-template-columns: repeat(2, 1fr);
  }

  app-status-card:last-child {
    grid-column: 1 / span 2;
  }
}

@media screen and(max-width: 490px) {
  .stats-container {
    grid-template-columns: 1fr;
  }

  app-status-card:last-child {
    grid-column: span 1;
  }
}

.console {
  * {
    font-family: var(--font-mono);
  }

  border-radius: 5px;

  background-color: var(--secondary);
  color: white;
  font-family: var(--font-mono) !important;

  max-width: 100%;

  overflow: auto;
  min-height: 300px;
  max-height: 300px;

  .log {
    min-width: 600px;

    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin: 0 10px;
  }

  .log .path {
    font-weight: bold;
    display: inline;
  }

  .path .root-path {
    color: white;
    background-color: var(--info);

    position: relative;
    margin: 0 10px;
    z-index: 9 !important;
  }

  .path .root-path::after {
    content: " ";
    z-index: -9;
    position: absolute;
    top: 0;
    left: -10px;
    width: 0;
    height: 0;
    border-top: solid 7px var(--info);
    border-left: solid 5px transparent;
    border-right: solid 5px var(--info);
    border-bottom: solid 7px var(--info);
  }

  .path .root-path::before {
    content: " ";
    z-index: -9;
    position: absolute;
    top: 0;
    right: -20px;
    width: 0;
    height: 0;
    border-top: solid 7px var(--accent);
    border-left: solid 10px var(--info);
    border-right: solid 10px var(--accent);
    border-bottom: solid 7px var(--accent);
  }

  .path .table {
    background-color: var(--accent);
    color: var(--text-color);
    margin: 0 10px 0 5px;

    position: relative;

    z-index: 99999999 !important;
  }
  .path .table::after {
    content: " ";
    z-index: -9;
    position: absolute;
    top: 0;
    right: -20px;
    width: 0;
    height: 0;
    border-top: solid 7px transparent;
    border-left: solid 10px var(--accent);
    border-right: solid 10px transparent;
    border-bottom: solid 7px transparent;
  }

  .option-I {
    color: var(--green-light);
    font-weight: bold;
  }

  .option-U {
    color: var(--info);
    font-weight: bold;
  }
  .option-D {
    color: var(--warn);
    font-weight: bold;
  }
}
