.content::after {
  content: "";
  background-image: url("./../../../../../assets/bg.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0px;
  right: 0;
  position: absolute;
  z-index: -1;
}

.stats-container {
  margin: 30px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

@media screen and(max-width: 960px) {
  .stats-container {
    grid-template-columns: repeat(2, 1fr);
  }

  app-status-card:last-child {
    grid-column: 1 / span 2;
  }
}

@media screen and(max-width: 490px) {
  .stats-container {
    grid-template-columns: 1fr;
  }

  app-status-card:last-child {
    grid-column: span 1;
  }
}

.console {
  * {
    font-family: var(--font-mono);
  }

  resize: vertical;

  border-radius: 5px;

  background-color: var(--secondary);
  color: white;
  font-family: var(--font-mono) !important;

  max-width: 100%;

  overflow: auto;

  height: 300px;
  min-height: 300px;
  max-height: 400px;

  .header-console {
    background-color: var(--info);
    text-align: center;
    font-weight: bold;
    position: sticky;
    top: 0;
    z-index: 999;
  }

  .log {
    min-width: 500px;

    margin: 0 10px;
  }

  .header-log {
    display: flex;
    justify-content: space-between;
    gap: 50px;
  }

  .log .path {
    font-weight: bold;
    display: inline;
  }

  .path .root-path {
    color: white;
    background-color: var(--info);

    position: relative;
    margin: 0 10px;
    z-index: 99 !important;
  }

  .path .root-path::after {
    content: " ";
    z-index: -9;
    position: absolute;
    top: 0;
    left: -10px;
    width: 0;
    height: 0;
    border-top: solid 7px var(--info);
    border-left: solid 10px transparent;
    border-right: solid 10px var(--info);
    border-bottom: solid 7px var(--info);
  }

  .path .root-path::before {
    content: "";
    z-index: -9;
    position: absolute;
    top: 0;
    right: -20px;
    width: 0;
    height: 0;
    border-top: solid 7px transparent;
    border-left: solid 10px var(--info);
    border-right: solid 10px transparent;
    border-bottom: solid 7px transparent;
  }
  .path .table {
    background-color: var(--accent);
    color: var(--secondary);
    margin-left: -20px;
    padding-left: 25px;
    position: relative;
    z-index: 9 !important;
  }

  .path .table-I {
    background-color: var(--green-light);
    color: white;
  }
  .path .table-D {
    background-color: var(--warn);
    color: white;
  }

  .path .table-I::after {
    content: " ";
    z-index: -9;
    position: absolute;
    top: 0;
    right: -20px;
    width: 0;
    height: 0;
    border-top: solid 7px transparent;
    border-left: solid 10px var(--green-light);
    border-right: solid 10px transparent;
    border-bottom: solid 7px transparent;
  }

  .path .table-U::after {
    content: " ";
    z-index: -9;
    position: absolute;
    top: 0;
    right: -20px;
    width: 0;
    height: 0;
    border-top: solid 7px transparent;
    border-left: solid 10px var(--accent);
    border-right: solid 10px transparent;
    border-bottom: solid 7px transparent;
  }

  .path .table-D::after {
    content: " ";
    z-index: -9;
    position: absolute;
    top: 0;
    right: -20px;
    width: 0;
    height: 0;
    border-top: solid 7px transparent;
    border-left: solid 10px var(--warn);
    border-right: solid 10px transparent;
    border-bottom: solid 7px transparent;
  }

  .option-I {
    color: var(--green-light);
    font-weight: bold;
  }

  .option-U {
    color: var(--accent);
    font-weight: bold;
  }
  .option-D {
    color: var(--warn);
    font-weight: bold;
  }

  .uuid-table {
    // color: white;
    cursor: pointer;
  }

  .uuid-table:hover {
    border-bottom: 1px solid;
  }

  // style="width: 10px; border-bottom: 1px solid"
}
