#container {
  max-width: 1490px;
  width: 100%;
  margin: 0 auto;
}

.bar-options {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: var(--nav-bg);
  margin-top: 10px;
  border-radius: 25px;
  width: 100%;
  margin: 10px auto;
  max-width: 100%;
}

@media screen and (max-width: 380px) {
  .bar-options {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.info-color {
  color: var(--info);
}

.warn-color {
  color: var(--warn);
}

.accent-color {
  color: var(--accent);
}

.success-color {
  color: var(--success);
}

.darkMode-color {
  color: var(--purple-dark);
}

.primary-color {
  color: var(--primary);
}
