<div class="bar-options mat-elevation-z2">
  <button mat-icon-button (click)="toggleMode()" matTooltip="Apariencia">
    <mat-icon
      [ngClass]="{ 'darkMode-color': darkMode, 'accent-color': !darkMode }"
    >
      {{ darkMode ? "dark_mode" : "light_mode" }}
    </mat-icon>
  </button>

  <button
    mat-icon-button
    [disabled]="!canDelete"
    (click)="onDeleteCapituloOrTarea()"
    matTooltip="Eliminar"
  >
    <mat-icon
      [ngClass]="{ 'warn-color': canDelete }"
      [matBadge]="selectedPoints"
      [matBadgeColor]="selectedPoints ? 'warn' : 'none'"
      [matBadgeHidden]="!selectedPoints"
    >
      delete
    </mat-icon>
  </button>
  <button
    mat-icon-button
    [disabled]="!canEdit"
    matTooltip="Editar"
    (click)="onEditCapituloOrTarea()"
  >
    <mat-icon [ngClass]="{ 'accent-color': canEdit }"> edit </mat-icon>
  </button>

  <button
    mat-icon-button
    [disabled]="!canAddTarea"
    (click)="onAddTareaPlanificacion()"
    matTooltip="Nueva Tarea"
  >
    <mat-icon [ngClass]="{ 'info-color': canAddTarea }"> post_add </mat-icon>
  </button>

  <button
    mat-icon-button
    (click)="onAddCapituloPlanificacion()"
    matTooltip="Nuevo Capítulo"
  >
    <mat-icon class="success-color"> add </mat-icon>
  </button>

  <button
    mat-icon-button
    (click)="onEditPlanificacionProyecto()"
    matTooltip="Editar Planificacion"
  >
    <mat-icon class="accent-color"> edit_note </mat-icon>
  </button>
</div>

<div style="width: 100%; overflow: hidden">
  <div id="container" #divRef></div>
</div>
