mat-dialog-actions {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);
}

.search-container {
  padding: 5px 5px 0 5px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--card-bg);
  color: var(--text-color);
  mat-form-field {
    width: 100% !important;
  }

  .btn-clear-input {
    color: var(--warn);
  }
}

.search-header {
  display: flex;
}

.Proyecto {
}
