@import './../../../../../styles/side-nav.scss';

.btn-admin {
  font-size: 14px;

  mat-icon {
    margin: 0 10px;
    font-size: 22px;
  }

}

.toolbar-between {
  display: flex;
  justify-content: space-between;
}

.logo-row-container {
  display: flex;
  flex-flow: row nowrap;
}

.img-user {

  img {
    border-radius: 50px;
    background-color: whitesmoke;
    display: grid;
    place-items: center;
    height: 50px;
    width: 50px;
    object-fit: cover;

  }
}

.flex-closed {
  justify-content: space-between;

  .backIcon {
    color: var(--secondary);
  }
}
