<div class="content">
  <br />
  <div class="pedido mat-elevation-z2">
    <div [class]="'estado confirmado ' + pedidoProducto.estado">
      <mat-icon> support_agent</mat-icon>
      <mat-icon> verified</mat-icon>
      <mat-icon>
        {{
          pedidoCarritoForm.value.tipoEnvio === "delivery"
            ? "local_shipping"
            : "store"
        }}
      </mat-icon>
      <mat-icon> done_all</mat-icon>
    </div>
  </div>
  <br />

  <mat-tab-group mat-align-tabs="center">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">shopping_cart</mat-icon>
        &nbsp;Productos
      </ng-template>

      <div class="table-container mat-elevation-z2" style="margin-top: 5px">
        <div
          class="header-table"
          [style.display]="selectedCarritoPedido.length ? 'none' : 'grid'"
        >
          <mat-form-field>
            <mat-label>Buscar</mat-label>
            <input
              matInput
              autocomplete="off"
              (keyup)="applyFilter($event)"
              placeholder="Ex. bladimir"
              [(ngModel)]="filterValue"
              #inputSearch
            />

            <button
              mat-button
              *ngIf="filterValue"
              matSuffix
              mat-icon-button
              aria-label="Clear"
              (click)="applyFilter('')"
              (click)="input.value = ''"
            >
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>

          <button
            mat-icon-button
            matTooltip="Nuevo Capitulo"
            matTooltipPosition="below"
            class="btn-add"
          >
            <mat-icon class="mat-18"> add </mat-icon>
          </button>
        </div>

        <div *ngIf="selectedCarritoPedido.length">
          <div class="delete-table">
            <button mat-icon-button (click)="clearCheckbox()" class="btn-clear">
              <mat-icon>clear</mat-icon>
            </button>
            <span> Seleccionados {{ selectedCarritoPedido.length }} </span>
            <button class="btn-delete">Elminar</button>
          </div>
        </div>

        <div class="table-content">
          <table
            mat-table
            [dataSource]="dataSource"
            multiTemplateDataRows
            class="mat-elevation-z2"
            matSort
          >
            <ng-container matColumnDef="seleccion" sticky>
              <th *matHeaderCellDef class="actions-table">
                <mat-checkbox
                  color="warn"
                  (change)="$event ? masterToggle() : null"
                  [checked]="
                    selectionCarritoPedido.hasValue() && isAllSelected()
                  "
                  [indeterminate]="
                    selectionCarritoPedido.hasValue() && !isAllSelected()
                  "
                  [aria-label]="checkboxLabel()"
                >
                </mat-checkbox>
              </th>
              <td *matCellDef="let row" class="actions-table">
                <mat-checkbox
                  color="warn"
                  (click)="$event.stopPropagation()"
                  (change)="$event ? selectionCarritoPedido.toggle(row) : null"
                  [checked]="selectionCarritoPedido.isSelected(row)"
                  [aria-label]="checkboxLabel(row)"
                >
                </mat-checkbox>
              </td>

              <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
              <td
                mat-cell
                *matCellDef="let row"
                class="td-longtext text-center"
              >
                <span>
                  <a
                    [routerLink]="['/admin/producto/']"
                    [queryParams]="{
                      s: row.uuidProducto
                    }"
                    class="custom-a"
                  >
                    {{ row.nombre | titlecase }}
                  </a>
                </span>
              </td>

              <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <ng-container matColumnDef="precio">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Precio</th>
              <td
                mat-cell
                *matCellDef="let row"
                class="text-center"
                style="width: 150px"
              >
                {{ row.precio | number: "1.2-2" }} Bs.
              </td>

              <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <ng-container matColumnDef="descuento">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Descuento
              </th>
              <td
                mat-cell
                *matCellDef="let row"
                class="td-longtext text-center"
                [matTooltip]="row.nombre"
                matTooltipPosition="below"
              >
                <span> {{ row.descuento | number }}% </span>
              </td>
              <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <ng-container matColumnDef="total">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Total</th>
              <td
                mat-cell
                *matCellDef="let row"
                class="td-longtext text-center"
                [matTooltip]="row.nombre"
                matTooltipPosition="below"
              >
                <span> {{ getDescuento(row) | number: "1.2-2" }} Bs. </span>
              </td>
              <td mat-footer-cell *matFooterCellDef class="text-center">
                {{ getTotalPrice() }} Bs.
              </td>
            </ng-container>

            <ng-container matColumnDef="cantidad">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Cantidad
              </th>
              <td mat-cell *matCellDef="let row" class="text-center">
                {{ row.cantidad }}
              </td>
              <td mat-footer-cell *matFooterCellDef class="text-center">
                TOTAL:
              </td>
            </ng-container>

            <ng-container matColumnDef="options" stickyEnd>
              <th *matHeaderCellDef mat-sort-header></th>
              <td *matCellDef="let row" class="text-center">
                <button mat-icon-button>
                  <mat-icon class="edit-icon"> edit </mat-icon>
                </button>
              </td>

              <td mat-footer-cell *matFooterCellDef class="text-center"></td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
            <tr
              mat-footer-row
              *matFooterRowDef="columnsToDisplay; sticky: true"
            ></tr>
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="10" align="center">
                <div *ngIf="inputSearch.value; else noData">
                  No hay datos que coincidan con el filtro: "{{
                    inputSearch.value
                  }}"
                </div>
                <ng-template #noData align="center">
                  <img
                    src="./assets/no_data.svg"
                    alt=""
                    width="100"
                    style="margin: 5px"
                    class="no-select"
                  />
                  <p>Tabla vacía, aún no creaste un proyecto.</p>
                </ng-template>
              </td>
              <td mat-footer-cell *matFooterCellDef>Total</td>
            </tr>
          </table>
        </div>
        <mat-paginator
          [pageSizeOptions]="[5, 10, 20, 100]"
          showFirstLastButtons
        ></mat-paginator>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">person_pin</mat-icon>
        &nbsp; Datos Personales
      </ng-template>

      <form class="pedido-form" [formGroup]="pedidoCarritoForm">
        <div>
          <section>
            <h2 class="full-column text-center">Datos Personales</h2>
            <!-- *Nombre -->
            <mat-form-field
              class="full-width"
              [color]="isValidField('nombre').color"
            >
              <mat-label>Nombre</mat-label>
              <input matInput formControlName="nombre" autocomplete="no" />
              <mat-icon matSuffix [color]="isValidField('nombre').color">
                {{ isValidField("nombre").icon }}
              </mat-icon>
              <mat-error
                *ngIf="pedidoCarritoForm.get('nombre').errors?.required"
              >
                Ingrese un nombre.
              </mat-error>
              <mat-error
                *ngIf="pedidoCarritoForm.get('nombre').errors?.pattern"
              >
                Ingresa un nombre valido.
              </mat-error>
            </mat-form-field>

            <!-- *Apellido Paterno -->
            <mat-form-field
              class="full-width"
              [color]="isValidField('apellidoPaterno').color"
            >
              <mat-label>Apellido Paterno</mat-label>
              <input
                matInput
                formControlName="apellidoPaterno"
                autocomplete="no"
              />
              <mat-icon
                matSuffix
                [color]="isValidField('apellidoPaterno').color"
              >
                {{ isValidField("apellidoPaterno").icon }}
              </mat-icon>
              <mat-error
                *ngIf="
                  pedidoCarritoForm.get('apellidoPaterno').errors?.required
                "
              >
                Por favor ingrese el apellido paterno.
              </mat-error>
              <mat-error
                *ngIf="
                  pedidoCarritoForm.get('apellidoPaterno').errors?.maxlength
                "
              >
                Debe contener
                {{
                  pedidoCarritoForm.get("apellidoPaterno").errors?.maxlength
                    ?.requiredLength
                }}
                letras como maximo.
              </mat-error>
              <mat-error
                *ngIf="pedidoCarritoForm.get('apellidoPaterno').errors?.pattern"
              >
                Ingresa un apellido valido.
              </mat-error>
            </mat-form-field>

            <!-- *Apellido Materno -->
            <mat-form-field
              class="full-width"
              [color]="isValidField('apellidoMaterno').color"
            >
              <mat-label>Apellido Materno</mat-label>
              <mat-icon
                matSuffix
                [color]="isValidField('apellidoMaterno').color"
                *ngIf="pedidoCarritoForm.value.apellidoMaterno"
              >
                {{ isValidField("apellidoMaterno").icon }}
              </mat-icon>
              <input
                matInput
                formControlName="apellidoMaterno"
                autocomplete="no"
              />
              <mat-error
                *ngIf="
                  pedidoCarritoForm.get('apellidoMaterno').errors?.maxlength
                "
              >
                Debe contener
                {{
                  pedidoCarritoForm.get("apellidoMaterno").errors?.maxlength
                    ?.requiredLength
                }}
                letras como maximo.
              </mat-error>
              <mat-error
                *ngIf="pedidoCarritoForm.get('apellidoMaterno').errors?.pattern"
              >
                Ingresa un apellido valido.
              </mat-error>
            </mat-form-field>

            <!-- *Celular -->
            <mat-form-field
              class="full-width"
              [color]="isValidField('celular').color"
            >
              <mat-label>Celular</mat-label>
              <span matPrefix>+591 &nbsp;</span>

              <input
                type="tel"
                matInput
                placeholder="69409749"
                formControlName="celular"
                autocomplete="off"
              />

              <mat-hint align="end">
                {{
                  pedidoCarritoForm.value.celular
                    ? getString(pedidoCarritoForm.value.celular).length
                    : 0
                }}/8
              </mat-hint>
              <mat-icon matSuffix [color]="isValidField('celular').color">
                {{ isValidField("celular").icon }}
              </mat-icon>
              <mat-error
                *ngIf="pedidoCarritoForm.get('celular').errors?.required"
              >
                Ingrese el numero de celular o telefono.
              </mat-error>
              <mat-error
                *ngIf="
                  pedidoCarritoForm.get('celular').errors?.pattern;
                  else min_maxLength
                "
              >
                Debe incluir solo numeros.
              </mat-error>
              <ng-template #min_maxLength>
                <mat-error
                  *ngIf="pedidoCarritoForm.get('celular').errors?.minlength"
                >
                  Debe contener
                  {{
                    pedidoCarritoForm.get("celular").errors?.minlength
                      ?.requiredLength
                  }}
                  numeros como minimo.
                </mat-error>
                <mat-error
                  *ngIf="pedidoCarritoForm.get('celular').errors?.maxlength"
                >
                  Debe contener
                  {{
                    pedidoCarritoForm.get("celular").errors?.maxlength
                      ?.requiredLength
                  }}
                  numeros como maximo.
                </mat-error>
              </ng-template>
            </mat-form-field>

            <!-- *Correo -->
            <mat-form-field
              class="full-width full-column"
              [color]="isValidField('correo').color"
            >
              <mat-label>Correo</mat-label>
              <input matInput formControlName="correo" />
              <mat-icon matSuffix [color]="isValidField('correo').color">
                {{ isValidField("correo").icon }}
              </mat-icon>
              <mat-error
                *ngIf="pedidoCarritoForm.get('correo').errors?.required"
              >
                Por favor ingrese el correo.
              </mat-error>
              <mat-error
                *ngIf="pedidoCarritoForm.get('correo').errors?.pattern"
              >
                Por favor ingrese un correo valido.
              </mat-error>
            </mat-form-field>

            <!-- *Direccion -->
            <mat-form-field
              class="full-width full-column"
              [color]="isValidField('direccion').color"
            >
              <mat-label>Direccion</mat-label>
              <textarea
                matInput
                placeholder="Ex. Avenida Segunda"
                formControlName="direccion"
              ></textarea>
              <mat-hint align="end">
                {{
                  pedidoCarritoForm.value.direccion
                    ? pedidoCarritoForm.value.direccion.length
                    : 0
                }}/200
              </mat-hint>
              <mat-icon
                matSuffix
                [color]="isValidField('direccion').color"
                *ngIf="pedidoCarritoForm.value.direccion"
              >
                {{ isValidField("direccion").icon }}
              </mat-icon>
              <mat-error
                *ngIf="pedidoCarritoForm.get('direccion').errors?.maxlength"
              >
                Debe contener
                {{
                  pedidoCarritoForm.get("direccion").errors?.maxlength
                    ?.requiredLength
                }}
                digitos como maximo.
              </mat-error>
            </mat-form-field>

            <mat-form-field
              class="full-width"
              [color]="isValidField('nombreFactura').color"
            >
              <mat-label>Nombre para la Factura</mat-label>
              <input
                matInput
                formControlName="nombreFactura"
                autocomplete="no"
              />
              <mat-icon matSuffix [color]="isValidField('nombreFactura').color">
                {{ isValidField("nombreFactura").icon }}
              </mat-icon>
            </mat-form-field>

            <mat-form-field
              class="full-width"
              [color]="isValidField('nitCI').color"
            >
              <mat-label>NIT o CI</mat-label>
              <input matInput formControlName="nitCI" autocomplete="no" />
              <mat-icon matSuffix [color]="isValidField('nitCI').color">
                {{ isValidField("nitCI").icon }}
              </mat-icon>
            </mat-form-field>

            <h2 class="full-column text-center">Mas Informacion</h2>
            <p class="full-column no-margin">
              Si tienes algo mas que hacernos saber, sobre la direccion o algun
              dato extra puedes agregar una descripcion opcional aqui abajo.
            </p>

            <mat-form-field
              class="full-width full-column"
              [color]="isValidField('descripcion').color"
            >
              <mat-label>Descripcion</mat-label>
              <textarea
                matInput
                placeholder="Ex. Añade una descripcion"
                formControlName="descripcion"
              ></textarea>
              <mat-hint align="end">
                {{
                  pedidoCarritoForm.value.descripcion
                    ? pedidoCarritoForm.value.descripcion.length
                    : 0
                }}/500
              </mat-hint>
              <mat-icon
                matSuffix
                [color]="isValidField('direccion').color"
                *ngIf="pedidoCarritoForm.value.descripcion"
              >
                {{ isValidField("descripcion").icon }}
              </mat-icon>
              <mat-error
                *ngIf="pedidoCarritoForm.get('descripcion').errors?.maxlength"
              >
                Debe contener
                {{
                  pedidoCarritoForm.get("descripcion").errors?.maxlength
                    ?.requiredLength
                }}
                digitos como maximo.
              </mat-error>
            </mat-form-field>
          </section>
        </div>
        <div>
          <section>
            <h2 class="full-column text-center">Tipo de Envio</h2>

            <mat-radio-group
              class="full-column full-width"
              formControlName="tipoEnvio"
            >
              <mat-radio-button color="primary" value="carpinteria">
                <span style="white-space: normal">
                  Recoger pedido en la carpinteria
                </span>
              </mat-radio-button>

              <mat-radio-button color="primary" value="delivery">
                <div style="white-space: normal">
                  Envio a domicilo.
                  <span class="text-bold">
                    (Costo adicional fuera del area de envio gratuito)
                  </span>
                </div>
              </mat-radio-button>
            </mat-radio-group>

            <h2 class="full-column text-center">Metodo de Pago</h2>

            <mat-radio-group
              class="full-column full-width"
              formControlName="metodoDePago"
            >
              <mat-radio-button
                color="primary"
                value="deposito_transferencia_qr"
              >
                <div style="white-space: normal">
                  Depósito Bancario o Pago QR
                </div>
              </mat-radio-button>
              <br />
              <mat-radio-button color="primary" value="efectivo">
                <span style="white-space: normal">
                  Pagar al recibir el pedido
                </span> </mat-radio-button
              ><br />

              <mat-radio-button color="primary" value="paypal">
                <div style="white-space: normal">
                  Paypal
                  <span class="text-bold"> (Beta) </span>
                </div>
              </mat-radio-button>

              <picture
                style="
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                "
                *ngIf="
                  pedidoCarritoForm.value.metodoDePago ===
                  'deposito_transferencia_qr'
                "
              >
                <img src="./assets/bnb.jpeg" alt="" width="300px" />

                <div>
                  <span class="text-bold">Banco:</span>
                  BNB
                </div>
                <div>
                  <span class="text-bold">Numero de Cuenta:</span>
                  3502282572
                </div>
                <div>
                  <span class="text-bold">Tipo de moneda:</span>
                  Bolivianos
                </div>
                <br />
              </picture>
            </mat-radio-group>

            <button align="end" mat-button class="mat-btn-secondary">
              Limpiar
            </button>
            <button align="end" mat-button class="mat-btn-success">
              Actualizar
            </button>
          </section>
        </div>
      </form>
      <br />
    </mat-tab>
  </mat-tab-group>
</div>
