<h2 align="center" mat-dialog-title>
  Nueva Categoria
</h2>
<mat-dialog-content>
  <form class="new-proyecto-form" [formGroup]="categoriaForm">

    <!-- *Nombre -->
    <mat-form-field class="full-width full-column" [color]="isValidField('nombre').color">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="nombre" autocomplete="off">
      <mat-hint align="end">
        {{categoriaForm.value.nombre ? categoriaForm.value.nombre.length : 0}}/50
      </mat-hint>
      <mat-icon matSuffix [color]="isValidField('nombre').color">
        {{isValidField('nombre').icon}}
      </mat-icon>
      <mat-error *ngIf="categoriaForm.get('nombre').errors?.required">
        Ingrese un nombre.
      </mat-error>
      <mat-error *ngIf="categoriaForm.get('nombre').errors?.maxlength">
        Debe contener {{categoriaForm.get('nombre').errors?.maxlength?.requiredLength}} digitos como maximo.
      </mat-error>
    </mat-form-field>


    <!-- *Descripcion -->
    <mat-form-field class="full-width full-column" [color]="isValidField('descripcion').color">
      <mat-label>Descripcion</mat-label>
      <textarea matInput placeholder="Ex. Avenida Segunda" formControlName="descripcion"></textarea>
      <mat-hint align="end">
        {{categoriaForm.value.descripcion ? categoriaForm.value.descripcion.length : 0}}/200
      </mat-hint>
      <mat-icon matSuffix [color]="isValidField('descripcion').color" *ngIf="categoriaForm.value.descripcion">
        {{isValidField('descripcion').icon}}
      </mat-icon>
      <mat-error *ngIf="categoriaForm.get('descripcion').errors?.maxlength">
        Debe contener {{categoriaForm.get('descripcion').errors?.maxlength?.requiredLength}} digitos como maximo.
      </mat-error>
    </mat-form-field>


  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="false" class="mat-btn-secondary full-width">Cancelar</button>
  <button mat-button class="mat-btn-success" (click)="addCategoriaProducto(categoriaForm.value)"
    [disabled]="!categoriaForm.valid">
    Guardar
  </button>
</mat-dialog-actions>
