.content::after {
  content: "";
  background-image: url('./../../../assets/bg.svg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0px;
  right: 0;
  position: absolute;
  z-index: -1;
}

.personal-activo {
  width: 15px;
  height: 15px;
  background-color: var(--success);
  border-radius: 25px;
}

.personal-no-activo {
  width: 15px;
  height: 15px;
  background-color: var(--warn);
  border-radius: 25px;
}

.title-card {
  background-color: var(--secondary);
  color: white;
  font-weight: bold;
  padding: 0px 10px;
  border-radius: 5px 0 0 0;
}

.personal-color {
  background-color: var(--info);
}

.admin-chip {
  color: white;
  font-weight: bold;
  border-radius: 25px;
  padding: 3px;
  background-color: #FF6058;
}

.arqui-chip {
  color: white;
  font-weight: bold;
  border-radius: 25px;
  padding: 3px;
  background-color: #FFBB33;
}
