<img class="wave" src="./assets/wave-1.svg" alt="">
<img class="wave-2" src="./assets/wave-2.svg" alt="">

<div class="login-container">

  <div class="copyright">
    <a> @copyright - MendozArq - 2020</a>
  </div>
  <div class="login-content">
    <div class="login">

      <div class="avatar">
        <img class="avatar" src="./assets/avatar.svg" alt="avatar">
      </div>
      <h2 class="title">Bienvenido</h2>
      <mat-tab-group animationDuration="0ms">
        <mat-tab class="mat-tab" label="Inicio de Sesion">
          <form class="form" [formGroup]="loginForm" (ngSubmit)="onLogIn(loginForm.value)">

            <mat-form-field>
              <mat-label>Correo Electronico</mat-label>
              <input matInput type="email" formControlName="username" autocomplete="on" placeholder="ejemplo@email.com">
              <button type="button" mat-icon-button matSuffix>
                <mat-icon>email</mat-icon>
              </button>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Contraseña</mat-label>
              <input matInput formControlName="contrasenha" autocomplete="off" [type]="hide ? 'password' : 'text'">
              <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>

            <button typeP="submit" class="btn-login" mat-button>Iniciar sesión</button>
          </form>

        </mat-tab>
        <mat-tab label="Registro">
          <form class="form" [formGroup]="registerForm" (ngSubmit)="onRegister(registerForm.value)">

            <mat-form-field>
              <mat-label>Codigo de registro</mat-label>
              <input matInput formControlName="docid" autocomplete="off" [type]="hide ? 'password' : 'text'">
              <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>

            <button type="submit" class="btn-login" mat-button>Acceder</button>
          </form>
        </mat-tab>

      </mat-tab-group>

    </div>
  </div>

</div>
