<img class="wave" src="./assets/bg-login.svg" alt="">

<div class="login-container">

  <div class="login-content">
    <a> @copyright - mendozarq - 2020</a>
  </div>
  <div class="login">

    <form class="form">
      <img class="avatar" src="./assets/avatar.svg" alt="">
      <h2 class="title">Inicio de sesión</h2>

      <mat-form-field>
        <mat-label>Correo Electronico</mat-label>
        <button type="button" mat-icon-button matSuffix>
          <mat-icon>mail</mat-icon>
        </button>
        <input matInput type="text" placeholder="ejemplo@email.com">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Contraseña</mat-label>
        <input matInput formControlName="password" autocomplete="off" [type]="hide ? 'password' : 'text'">
        <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <button type="submit" class="btn-login" mat-button>Iniciar sesión</button>

    </form>
  </div>

</div>
