.content::after {
  content: "";
  background-image: url("./../../../../../assets/bg.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0px;
  right: 0;
  position: absolute;
  z-index: -1;
}

.main {
  width: 100%;
  height: calc(100% - 60px);
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: minmax(150px, 600px);
  grid-template-rows: auto;
}

//  *form
.edit-proyecto-form {
  width: auto;
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  margin: 20px;
  background-color: transparent;

  padding: 15px;
  // box-shadow: 0px 0px 10px 10px var(--card-bg);
}

.full-column {
  grid-column: span 2;
}

mat-dialog-actions {
  display: grid;
  grid-template-areas: "secondary success";
  grid-template-columns: repeat(2, 1fr);
  place-items: 🇨enter;

  .mat-btn-success {
    grid-area: success;
  }

  .mat-btn-secondary {
    grid-area: secondary;
  }
}

@media screen and (max-width: 460px) {
  .edit-proyecto-form {
    display: grid;
    grid-template-columns: minmax(150px, 100%);
    padding: 5px;
  }

  .full-column {
    grid-column: 1;
  }
}
