<div class="content">

  <div class="stats-container">
    <app-status-card [icon]="'library_books'" [color]="'#33B5E5'">
      <div slot="title">
        Proyectos Totales
      </div>
      <div slot="count">
        50
      </div>
    </app-status-card>

    <app-status-card [icon]="'engineering'" [color]="'#FFBB33'">
      <div slot="title">
        Proyectos en Curso
      </div>
      <div slot="count">
        50
      </div>
    </app-status-card>

    <app-status-card [icon]="'done_all'" [color]="'#00C851'">
      <div slot="title">
        Proyectos Finzalizados
      </div>
      <div slot="count">
        50
      </div>
    </app-status-card>

  </div>
