<main>
  <section class="options">
    <div class="input-location">
      <mat-form-field>
        <mat-label>Latitud y Longitud</mat-label>
        <input
          matInput
          placeholder="-17.40199, -66.18258"
          autocomplete="off"
          [(ngModel)]="currentMarker"
        />
      </mat-form-field>
      &nbsp;
      <button mat-button (click)="searchLocation()">Buscar</button>
    </div>

    <div class="continue-container">
      <button mat-button class="mat-btn-success" (click)="saveLocation()">
        Continuar
      </button>
    </div>
  </section>

  <div class="full-column" id="map-proyecto"></div>
</main>
