.new-user-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  padding: 10px;
}

.full-column {
  grid-column: 1 / 3;
}



mat-dialog-actions {
  display: grid;
  grid-template-areas: "secondary success";
  grid-template-columns: repeat(2, 1fr);
  place-items: 🇨enter;

  .mat-btn-success {
    grid-area: success;
  }

  .mat-btn-secondary {
    grid-area: secondary;
  }
}

@media screen and (max-width:400px) {
  mat-dialog-actions {
    margin: 0;
    padding: 0;
    grid-template-columns: auto;
    grid-gap: 10px;
    grid-template-areas: "success"
      "secondary";

    .mat-btn-success {
      margin: 0;
    }

  }
}

@media screen and (max-width:625px) {
  .new-user-form {
    display: grid;
    grid-template-columns: minmax(100%, 1fr);
    grid-gap: 0;
    padding: 0;
  }

  .full-column {
    grid-column: 1;
  }
}
