<div class="content">
  <div class="bar-actions mat-elevation-z2">
    <button
      mat-icon-button
      matTooltip="Descargar"
      matTooltipPosition="below"
      (click)="downloadPdf()"
      [disabled]="!this.pdfResult"
    >
      <mat-icon> download </mat-icon>
    </button>

    <button
      mat-icon-button
      matTooltip="Imprimir"
      matTooltipPosition="below"
      (click)="printPdf()"
      [disabled]="!this.pdfResult"
    >
      <mat-icon> print </mat-icon>
    </button>

    <button
      mat-icon-button
      matTooltip="Abrir"
      matTooltipPosition="below"
      (click)="openPdf()"
      [disabled]="!this.pdfResult"
    >
      <mat-icon> open_in_new </mat-icon>
    </button>
  </div>

  <div class="table-container mat-elevation-z2">
    <div
      class="header-table"
      [style.display]="selected.length ? 'none' : 'grid'"
    >
      <mat-form-field>
        <mat-label>Buscar</mat-label>
        <input
          matInput
          autocomplete="off"
          (keyup)="applyFilter($event)"
          placeholder="Ex. bladimir"
          [(ngModel)]="filterValue"
          #input
        />
        <button
          mat-button
          *ngIf="filterValue"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="applyFilter('')"
          (click)="input.value = ''"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <button
        mat-icon-button
        (click)="onAddObservacionObra()"
        matTooltip="Nuevo ObservacionObra"
        matTooltipPosition="below"
        class="btn-add"
      >
        <mat-icon class="mat-18"> add </mat-icon>
      </button>
    </div>

    <div *ngIf="selected.length">
      <div class="delete-table">
        <button mat-icon-button (click)="clearCheckbox()" class="btn-clear">
          <mat-icon>clear</mat-icon>
        </button>
        <span> Seleccionados {{ selected.length }} </span>
        <button class="btn-delete" (click)="onDeleteObservacionObra()">
          Elminar
        </button>
      </div>
    </div>

    <div class="table-content">
      <table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort>
        <ng-container matColumnDef="seleccion" sticky>
          <th *matHeaderCellDef class="actions-table">
            <mat-checkbox
              color="warn"
              (change)="$event ? masterToggle() : null"
              [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()"
              [aria-label]="checkboxLabel()"
            >
            </mat-checkbox>
          </th>
          <td *matCellDef="let row" class="actions-table">
            <mat-checkbox
              color="warn"
              (click)="$event.stopPropagation()"
              (change)="$event ? selection.toggle(row) : null"
              [checked]="selection.isSelected(row)"
              [aria-label]="checkboxLabel(row)"
            >
            </mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="puntoDeInspeccion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Punto de Inspeccion
          </th>
          <td
            mat-cell
            *matCellDef="let row"
            class="td-longtext text-center"
            [matTooltip]="row.puntoDeInspeccion"
            matTooltipPosition="below"
          >
            <span>
              {{
                row.puntoDeInspeccion
                  ? row.puntoDeInspeccion
                  : "Sin puntoDeInspeccion"
              }}
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="observacion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Observacion</th>
          <td
            mat-cell
            *matCellDef="let row"
            class="td-longtext text-center"
            [matTooltip]="row.observacion"
            matTooltipPosition="below"
          >
            <span>
              {{ row.observacion }}
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="levantamientoObservacion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Levantamiento de Observacion
          </th>
          <td
            mat-cell
            *matCellDef="let row"
            class="td-longtext text-center"
            [matTooltip]="row.levantamientoObservacion"
            matTooltipPosition="below"
          >
            <span>
              {{ row.levantamientoObservacion }}
            </span>
          </td>
        </ng-container>

        <!-- *edit -->
        <ng-container matColumnDef="edit" stickyEnd>
          <th *matHeaderCellDef mat-sort-header></th>
          <td *matCellDef="let row" class="text-center">
            <div style="white-space: nowrap">
              <button
                mat-icon-button
                matTooltip="Fotos"
                matTooltipPosition="below"
                (click)="fotoObservacionObra(row)"
              >
                <mat-icon> collections </mat-icon>
              </button>

              <button
                mat-icon-button
                matTooltip="Eliminar"
                matTooltipPosition="below"
                (click)="onUpdateObservacionObra(row)"
              >
                <mat-icon> edit </mat-icon>
              </button>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="10" align="center">
            <div *ngIf="input.value; else noData">
              No hay datos que coincidan con el filtro: "{{ input.value }}"
            </div>
            <ng-template #noData align="center">
              <img
                src="./assets/no_data.svg"
                alt=""
                width="100"
                style="margin: 5px"
                class="no-select"
              />
              <p>Tabla vacía, aún no creaste una Obaervacion.</p>
            </ng-template>
          </td>
        </tr>
      </table>
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 100]"></mat-paginator>
  </div>

  <!-- <section class="iframe-container">
    <iframe frameborder="0" id="pdf-iframe" onreset="true">Cargando</iframe>
  </section> -->
</div>
