<div class="content">

  <div class="stats-container">
    <app-status-card [icon]="'list'" [color]="'var(--info)'">
      <div slot="title">
        Visitas Totales
      </div>
      <div slot="count">
        {{visitas | countVisita: 'total'}}
      </div>
    </app-status-card>

    <app-status-card [icon]="'pending_actions'" [color]="'var(--accent)'">
      <div slot="title">
        Visitas pendientes
      </div>
      <div slot="count">
        {{visitas | countVisita: 'en_curso'}}
      </div>
    </app-status-card>

    <app-status-card [icon]="'done_all'" [color]="'var(--success)'">
      <div slot="title">
        Visitas Finzalizadas
      </div>
      <div slot="count">
        {{visitas | countVisita: 'finalizado'}}
      </div>
    </app-status-card>

  </div>


  <div class="table-container mat-elevation-z2">
    <div class="header-table" [style.display]="selected.length ? 'none' : 'grid'">
      <mat-form-field>
        <mat-label>Buscar</mat-label>
        <input matInput autocomplete="off" (keyup)="applyFilter($event)" placeholder="Ex. bladimir"
          [(ngModel)]="filterValue" #input>

        <button mat-button *ngIf="filterValue" matSuffix mat-icon-button aria-label="Clear" (click)="applyFilter('')"
          (click)="input.value = ''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <button mat-icon-button matTooltip="Asignar Personal" matTooltipPosition="below" class="btn-add"
        (click)="newServicio()">
        <mat-icon class="mat-18">
          add
        </mat-icon>
      </button>
    </div>

    <div *ngIf="selected.length">
      <div class="delete-table">
        <button mat-icon-button (click)="clearCheckbox()" class="btn-clear">
          <mat-icon>clear</mat-icon>
        </button>
        <span>
          Seleccionados {{selected.length}}
        </span>
        <button mat-raised-button class="btn-delete" (click)="deleteVisita()">Elminar</button>
      </div>
    </div>

    <div class="table-content">
      <table mat-table [dataSource]="source" class="mat-elevation-z2" multiTemplateDataRows matSort>

        <ng-container matColumnDef="seleccion" sticky>
          <th *matHeaderCellDef class="actions-table">
            <mat-checkbox color="warn" (change)="$event ? masterToggle() : null"
              [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
            </mat-checkbox>
          </th>
          <td *matCellDef="let row" class="actions-table">
            <mat-checkbox color="warn" (click)="$event.stopPropagation() "
              (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"
              [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
          </td>
        </ng-container>


        <!-- *nombre -->
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
          <td mat-cell *matCellDef="let row" class="text-center">
            <a [routerLink]="['/admin/visita/', row.uuid]" class="link-visita">
              {{row.nombre | titlecase}}
            </a>
          </td>
        </ng-container>

        <!-- *faseDelProyecto-->
        <ng-container matColumnDef="faseDelProyecto">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Fase del Proyecto </th>
          <td mat-cell *matCellDef="let row" class="td-longtext text-center" [matTooltip]="row.faseDelProyecto"
            matTooltipPosition="below">
            <span>
              {{row.faseDelProyecto }}
            </span>
          </td>
        </ng-container>

        <!-- *descripcion-->
        <ng-container matColumnDef="descripcion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripcion </th>
          <td mat-cell *matCellDef="let row" class="td-longtext text-center" [matTooltip]="row.descripcion"
            matTooltipPosition="below">
            <span>
              {{row.descripcion ? row.descripcion : 'Sin descripcion'}}
            </span>
          </td>
        </ng-container>


        <!-- *estado -->
        <ng-container matColumnDef="estado">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
          <td mat-cell *matCellDef="let row" class="text-center">
            <div class="chip-date"
              [style.backgroundColor]="compareDate(row.fecha) ? 'var(--accent)' : 'var(--success)'">
            </div>
          </td>
        </ng-container>

        <!-- *fecha -->
        <ng-container matColumnDef="fecha">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
          <td mat-cell *matCellDef="let row" class="text-center">

            {{getDateString(row.fecha) }}

          </td>
        </ng-container>

        <!-- *edit -->
        <ng-container matColumnDef="edit" stickyEnd>
          <th *matHeaderCellDef mat-sort-header>
          </th>
          <td *matCellDef="let row" class="text-center">
            <button mat-icon-button (click)="updateServicio(row)">
              <mat-icon class="edit-icon">
                edit
              </mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns;"></tr>
      </table>
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>


</div>
