<div class="content">
  <div class="form-container">

  </div>

  <div class="iframe-container">
    <div class="options">
      <button mat-button class="mat-btn-secondary" (click)="openPdf()">
        <mat-icon>
          open_in_new
        </mat-icon>
        Abrir
      </button>

      <button mat-button class="mat-btn-secondary" (click)="printPdf()">
        <mat-icon>
          print
        </mat-icon>
        Imprimir
      </button>

      <button mat-button class="mat-btn-secondary" (click)="downloadPdf()">
        <mat-icon>
          download
        </mat-icon>
        Descargar
      </button>
    </div>
    <iframe frameborder="0" id="pdf-iframe" onreset="true">Cargando</iframe>
  </div>
</div>
