<div class="content">
  <div class="stats-container">
    <app-status-card [icon]="'view_list'" color="info">
      <div slot="title">
        Presupuestos Totales
      </div>
      <div slot="count">
        {{0}}
      </div>
    </app-status-card>

    <app-status-card [icon]="'engineering'" color="accent">
      <div slot="title">
        Servicios en Curso
      </div>
      <div slot="count">
        {{0}}
      </div>
    </app-status-card>

    <app-status-card [icon]="'done_all'" color="success">
      <div slot="title">
        Servicios Finzalizados
      </div>
      <div slot="count">
        {{0}}
      </div>
    </app-status-card>
  </div>


  <div class="table-container mat-elevation-z2">

    <div class="header-table" [style.display]="selected.length ? 'none' : 'grid'">
      <mat-form-field>
        <mat-label>Buscar</mat-label>
        <input matInput autocomplete="off" (keyup)="applyFilter($event)" placeholder="Ex. bladimir"
          [(ngModel)]="filterValue" #input>

        <button mat-button *ngIf="filterValue" matSuffix mat-icon-button aria-label="Clear" (click)="applyFilter('')"
          (click)="input.value = ''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <button mat-icon-button matTooltip="Asignar Personal" matTooltipPosition="below" class="btn-add"
        (click)="newPresupuestoObra()">
        <mat-icon class="mat-18">
          add
        </mat-icon>
      </button>
    </div>

    <div *ngIf="selected.length">
      <div class="delete-table">
        <button mat-icon-button (click)="clearCheckbox()" class="btn-clear">
          <mat-icon>clear</mat-icon>
        </button>
        <span>
          Seleccionados {{selected.length}}
        </span>
        <button mat-raised-button class="btn-delete" (click)="deletePresupuestoObra()">Elminar</button>
      </div>
    </div>

    <div class="table-content">
      <table mat-table [dataSource]="source" class="mat-elevation-z2" multiTemplateDataRows matSort>

        <ng-container matColumnDef="seleccion" sticky>
          <th *matHeaderCellDef class="actions-table">
            <mat-checkbox color="warn" (change)="$event ? masterToggle() : null"
              [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
            </mat-checkbox>
          </th>

          <td *matCellDef="let row" class="actions-table">
            <mat-checkbox color="warn" (click)="$event.stopPropagation() "
              (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"
              [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
          </td>
        </ng-container>


        <!-- *nombre -->
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
          <td mat-cell *matCellDef="let row" class="text-center">
            <a [routerLink]="['/admin/presupuestos/presupuesto', row.uuid]" class="custom-a">
              {{row.nombre | titlecase}}
            </a>
          </td>
        </ng-container>

        <!-- *descripcion-->
        <ng-container matColumnDef="descripcion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripcion </th>
          <td mat-cell *matCellDef="let row" class="td-longtext text-center" [matTooltip]="row.descripcion"
            matTooltipPosition="below">
            <span>
              {{row.descripcion ? row.descripcion : 'Sin descripcion'}}
            </span>
          </td>
        </ng-container>


        <!-- *cliente -->
        <ng-container matColumnDef="cliente">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Cliente </th>
          <td mat-cell *matCellDef="let row" class="text-center">
            <a [routerLink]="['/admin/usuario/', row.uuidCliente]" class="custom-a">
              {{row.cliente | titlecase}}
            </a>
          </td>
        </ng-container>

        <!-- *fecha -->
        <ng-container matColumnDef="fecha">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
          <td mat-cell *matCellDef="let row" class="text-center">
            {{timeFormatSvc.getDateString(row.fecha, false)}}
          </td>
        </ng-container>


        <!-- *usuario -->
        <ng-container matColumnDef="usuario">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> CreadoPor </th>
          <td mat-cell *matCellDef="let row" class="text-center">
            <a [routerLink]="['/admin/usuario/', row.uuidUsuario]" class="custom-a">
              {{row.usuario | titlecase}}
            </a>
          </td>
        </ng-container>

        <!-- *iva -->
        <ng-container matColumnDef="iva">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> IVA </th>
          <td mat-cell *matCellDef="let row" class="text-center bold-font"> {{row.iva}}% </td>
        </ng-container>


        <!-- *edit -->
        <ng-container matColumnDef="edit" stickyEnd>
          <th *matHeaderCellDef mat-sort-header>
          </th>
          <td *matCellDef="let row" class="text-center">
            <button mat-icon-button (click)="updatePresupuestoObra(row)">
              <mat-icon class="edit-icon">
                edit
              </mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns;"></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="10" align="center">
            <div *ngIf="input.value else noData">
              No hay datos que coincidan con el filtro: "{{input.value}}"
            </div>
            <ng-template #noData align="center">
              <img src="./assets/no_data.svg" alt="" width="100" style="margin: 5px;" class="no-select">
              <p>
                Tabla vacía, aún no agregaste un presupuesto.
              </p>
            </ng-template>
          </td>
        </tr>
      </table>
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>

</div>
