.example-container {
  // width: auto;
  max-width: 100%;
  overflow: auto;
}

table {
  width: 100%;
  // max-width: 100%;
  overflow: auto;

}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 25%;
}

mat-paginator {
  width: 100%;
}
