.stats-container {
  margin: 30px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 0 10px;

}



@media screen and(max-width: 960px) {
  .stats-container {
    grid-template-columns: repeat(2, 1fr);
  }

  app-status-card:last-child {
    grid-column: 1 / span 2;
  }
}

@media screen and(max-width: 490px) {
  .stats-container {
    grid-template-columns: 1fr;
  }

  app-status-card:last-child {
    grid-column: span 1;
  }
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}



.delete-table {
  height: 76px;
  background-color: var(--warn);
  color: white;
  animation: gg 0.7s;

  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr;
  place-items: center;
  font-size: 18px;
  text-align: center;

  button {
    // height: 35px;
    width: auto;
    margin: 0 5px;
  }
}

@media screen and (max-width: 460px) {
  .delete-table {
    font-size: 16px;

    grid-template-columns: 1fr 1fr;
  }
}

@keyframes gg {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
