<div class="content">

  <div class="stats-container">
    <app-status-card [icon]="'library_books'" [color]="'#33B5E5'">
      <div slot="title">
        Proyectos Totales
      </div>
      <div slot="count">
        50
      </div>
    </app-status-card>

    <app-status-card [icon]="'engineering'" [color]="'#FFBB33'">
      <div slot="title">
        Proyectos en Curso
      </div>
      <div slot="count">
        50
      </div>
    </app-status-card>

    <app-status-card [icon]="'done_all'" [color]="'#00C851'">
      <div slot="title">
        Proyectos Finzalizados
      </div>
      <div slot="count">
        50
      </div>
    </app-status-card>

  </div>







  <div class="table-container mat-elevation-z8">
    <div class="header-table" [style.display]="selected.length ? 'none' : 'grid'">
      <mat-form-field>
        <mat-label>Buscar</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Proyecto" [(ngModel)]="filterValue" #input>
        <!-- <button mat-button *ngIf="filterValue" matSuffix mat-icon-button aria-label="Clear" (click)="input.value = ''">
          <mat-icon>close</mat-icon>
        </button> -->
      </mat-form-field>

      <button mat-icon-button matTooltip="Nuevo Proyecto" matTooltipPosition="below" class="btn-add">
        <mat-icon class="mat-18">
          add
        </mat-icon>
      </button>
    </div>
    <div *ngIf="selected.length">
      <div class="delete-table">
        <button mat-icon-button (click)="clearCheckbox()" class="btn-clear">
          <mat-icon>clear</mat-icon>
        </button>
        <span>
          Seleccionados {{selected.length}}
        </span>
        <button mat-raised-button class="btn-delete">Elminar</button>
      </div>
    </div>

    <div class="table-content">
      <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="select" sticky>
          <th mat-header-cell *matHeaderCellDef style="min-width: 40px;">
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation() " (change)="$event ? selection.toggle(row) : null"
              [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
          </td>
        </ng-container>


        <ng-container matColumnDef="progress">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Progress </th>
          <td mat-cell *matCellDef="let row"> {{row.progress}}% </td>
        </ng-container>


        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
          <td mat-cell *matCellDef="let row"> {{row.name}} </td>
        </ng-container>


        <ng-container matColumnDef="color">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Color </th>
          <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.color}} </td>
        </ng-container>
        <ng-container matColumnDef="g1">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Color </th>
          <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.color}} </td>
        </ng-container>
        <ng-container matColumnDef="g2">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Color </th>
          <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.color}} </td>
        </ng-container>
        <ng-container matColumnDef="g3">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Color </th>
          <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.color}} </td>
        </ng-container>
        <ng-container matColumnDef="g4" stickyEnd>
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="place-items: center;">
            Editar </th>
          <td mat-cell *matCellDef="let row">

            <button mat-icon-button class="btn-edit">
              <mat-icon>
                edit
              </mat-icon>
            </button>
          </td>



        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">
            No hay datos que coincidan con el filtro: "{{input.value}}"</td>
        </tr>
      </table>
    </div>
    <mat-paginator [pageSizeOptions]="[ 5, 10, 100]"></mat-paginator>
  </div>


</div>
