<div class="content" id="content" onContextMenu>

  <div id="main_contextmenu" class="contextmenu mat-elevation-z2">
    <div align="center" class="title-menu">
      Agregar
    </div>
    <hr>

    <button mat-button class="link" oncontextmenu="return false;" (click)="newDocumento()">
      <mat-icon class="mat-18">
        note_add
      </mat-icon>
      Documento
    </button>
    <button mat-button class="link" oncontextmenu="return false;" (click)="newCarpeta()">
      <mat-icon class="mat-18">
        create_new_folder
      </mat-icon>
      Carpeta
    </button>
  </div>

  <div id="folder_contextmenu" class="contextmenu">
    <div class="link" oncontextmenu="return false;">
      <mat-icon class="mat-18">
        delete
      </mat-icon>
      Eliminar
    </div>
    <div class="link" oncontextmenu="return false;">
      <mat-icon class="mat-18">
        edit
      </mat-icon>
      Renombrar
    </div>
  </div>

  <div id="document_contextmenu" class="contextmenu">
    <div class="link" oncontextmenu="return false;">
      <mat-icon class="mat-18">
        delete
      </mat-icon>
      Eliminar

    </div>
  </div>



  <div class="list" id="list">

    <!-- *Carpeta -->
    <div class="item mat-elevation-z2" *ngFor="let carpeta of carpetas">
      <mat-icon class="mat-18" mat-list-icon class="folder no-select">folder</mat-icon>
      <div class="detail">
        <div class="title-document">
          <a [routerLink]="['ss', carpeta.nombre]">
            {{carpeta.nombre | titlecase}}
          </a>
        </div>
        <mat-icon class="more-icon" [matMenuTriggerFor]="menu">
          more_vert
        </mat-icon>

        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="deleteCarpeta(carpeta.uuid)">
            <mat-icon class="mat-18">
              delete
            </mat-icon>
            Eliminar
          </button>
          <button mat-menu-item (click)="updateCarpeta(carpeta)">
            <mat-icon class="mat-18">
              edit
            </mat-icon>
            Renombrar
          </button>
        </mat-menu>
        <div mat-line class="date-document no-select">
          {{carpeta.fechaCreacion | date}}
        </div>
      </div>
    </div>

    <!-- *Documento -->
    <div class="item mat-elevation-z2" *ngFor="let documento of documentos">
      <mat-icon class="mat-18" mat-list-icon class="document no-select">
        insert_drive_file
      </mat-icon>
      <div class="detail">
        <div class="title-document">
          <!-- routerLink="/doc" -->
          <a href="http://localhost:3000/api/file/{{documento.keyName}}">
            {{documento.nombre}}
          </a>
        </div>
        <mat-icon class="more-icon" [matMenuTriggerFor]="menuDocumento">
          more_vert
        </mat-icon>

        <mat-menu #menuDocumento="matMenu">
          <button mat-menu-item (click)="deleteDocumento(documento.uuid)">
            <mat-icon class="mat-18">
              delete
            </mat-icon>
            Eliminar
          </button>
          <button mat-menu-item>
            <mat-icon class="mat-18">
              edit
            </mat-icon>
            Renombrar
          </button>
          <button mat-menu-item>
            <mat-icon class="mat-18">
              edit
            </mat-icon>
            Informacion
          </button>
        </mat-menu>

        <div class="date-size">


          <!-- <div mat-line class="size-document no-select"> -->
          <!-- </div> -->

          <!-- <div mat-line class="date-document no-select"> -->
          <!-- {{documento.fechaCreacion| date:'dd/MM/yyyy' }} - -->
          <!-- </div> -->
          500 MB
        </div>

      </div>
    </div>

  </div>
