// Imports
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import '~@angular/material/theming';
@import '~ngx-toastr/toastr';
@import './styles/table.scss';
@import './styles/toast.custom.scss';

@include mat-core();
// hue. Available color palettes: https://material.io/design/color/
$mendozarq-primary: mat-palette($mat-orange, 600);
$mendozarq-accent: mat-palette($mat-pink, A200, A100, A400);
$mendozarq-warn: mat-palette($mat-red);
$mendozarq-theme: mat-light-theme((color: (primary: $mendozarq-primary,
      accent: $mendozarq-accent,
      warn: $mendozarq-warn,
    )));
@include angular-material-theme($mendozarq-theme);

* {
  font-family: Montserrat, sans-serif;
  // font-size: 1px;
  --primary: #FF6E00;
  --secondary: #425066;
  --warn: red;
  --accent: #FFBD2D;
  --success: #2AC940;
  --error: #FF6058;
  --info: #33B5E5;
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

// content class
.content {
  width: 98%;
  max-width: 1490px;
  margin: auto;
}


// full width
.full-width {
  width: 100%;
}

// toolbar class
mat-toolbar {
  overflow: hidden;
  position: sticky;
  top: 0;
  z-index: 1000;
}



.title-1 {
  text-transform: uppercase;
  font-weight: bold;
}

.mat-btn-primary {
  border-radius: 25px;
  background-color: var(--primary);
  color: white;
  font-size: 16px;
  font-weight: bold;


  &:hover {
    color: white;
    box-shadow: 0 0 3px 3px var(--primary);
  }
}

// ::-webkit-scrollbar {
//   width: 5px;
// }

// /* Track */
// ::-webkit-scrollbar-track {
//   background: #f1f1f1;
// }

// /* Handle */
// ::-webkit-scrollbar-thumb {
//   background: rgb(212, 212, 212);
// }

// /* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//   background: var(--primary);
// }
