<h2 align="center" mat-dialog-title>
  Nuevo Producto
</h2>
<mat-dialog-content>
  <form class="new-form" [formGroup]="productoForm">

    <!-- *Nombre -->
    <mat-form-field class="full-width full-column" [color]="isValidField('nombre').color">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="nombre" autocomplete="off">
      <mat-hint align="end">
        {{productoForm.value.nombre ? productoForm.value.nombre.length : 0}}/100
      </mat-hint>
      <mat-icon matSuffix [color]="isValidField('nombre').color">
        {{isValidField('nombre').icon}}
      </mat-icon>
      <mat-error *ngIf="productoForm.get('nombre').errors?.required">
        Ingrese un nombre.
      </mat-error>
      <mat-error *ngIf="productoForm.get('nombre').errors?.maxlength">
        Debe contener {{productoForm.get('nombre').errors?.maxlength?.requiredLength}} digitos como maximo.
      </mat-error>
    </mat-form-field>


    <!-- *Estado -->
    <mat-form-field class="full-width " [color]="isValidField('estado').color">
      <mat-label>Estado</mat-label>
      <mat-select formControlName="estado">
        <mat-option [value]="true">
          Activo
        </mat-option>
        <mat-option [value]="false">
          Inactivo
        </mat-option>
      </mat-select>


      <mat-icon matSuffix [color]="isValidField('estado').color">
        {{isValidField('estado').icon}}
      </mat-icon>
      <mat-error *ngIf="productoForm.get('estado').errors?.required">
        Ingrese un estado.
      </mat-error>
    </mat-form-field>

    <!-- *Categorias -->
    <mat-form-field class="full-width">
      <mat-label>Categorias</mat-label>
      <mat-select style="position: relative;" formControlName="categorias" multiple>
        <div style="padding: 5px 5px 0 5px;
          position: -webkit-sticky; position: sticky; top: 0;  background-color: white;  z-index: 1; ">
          <mat-form-field style=" width: 100%; ">
            <mat-label>Buscar</mat-label>
            <input matInput (keyup)="onKey($event.target.value)" autocomplete="off" #search>

            <button mat-icon-button matSuffix *ngIf="search.value" (click)="onKey('')" (click)="search.value=''">
              <mat-icon style="font-size: 20px;">
                clear
              </mat-icon>
            </button>
          </mat-form-field>
        </div>

        <mat-option *ngFor=" let categorias of selectedCategorias" [value]="categorias">
          {{ categorias.nombre | titlecase}}
        </mat-option>
      </mat-select>

      <mat-icon matSuffix [color]="isValidField('categorias').color">
        {{isValidField('categorias').icon}}
      </mat-icon>
      <mat-error *ngIf="productoForm.get('categorias').errors?.required">
        Seleccione una categoria.
      </mat-error>
    </mat-form-field>

    <!-- *Precio -->
    <mat-form-field class="full-width " [color]="isValidField('precio').color">
      <mat-label>Precio</mat-label>
      <span matSuffix>BS.</span>
      <input matInput type="number" class="text-center" formControlName="precio" autocomplete="off">
      <mat-icon matSuffix [color]="isValidField('precio').color">
        {{isValidField('precio').icon}}
      </mat-icon>
      <mat-error *ngIf="productoForm.get('precio').errors?.required">
        Ingrese un precio.
      </mat-error>
    </mat-form-field>


    <!-- *Stock -->
    <mat-form-field class="full-width " type="number" [color]="isValidField('stock').color">
      <mat-label>Stock</mat-label>
      <input matInput type="number" class="text-center" formControlName="stock" autocomplete="off">
      <mat-icon matSuffix [color]="isValidField('stock').color">
        {{isValidField('stock').icon}}
      </mat-icon>
      <mat-error *ngIf="productoForm.get('stock').errors?.required">
        Ingrese un stock.
      </mat-error>
    </mat-form-field>

    <!-- *Descripcion -->
    <mat-form-field class="full-width full-column" [color]="isValidField('descripcion').color">
      <mat-label>Descripcion</mat-label>
      <textarea matInput placeholder="Ex. Nueva Descripcion" formControlName="descripcion"></textarea>
      <mat-hint align="end">
        {{productoForm.value.descripcion ? productoForm.value.descripcion.length : 0}}/1000
      </mat-hint>
      <mat-icon matSuffix [color]="isValidField('descripcion').color" *ngIf="productoForm.value.descripcion">
        {{isValidField('descripcion').icon}}
      </mat-icon>
      <mat-error *ngIf="productoForm.get('descripcion').errors?.maxlength">
        Debe contener {{productoForm.get('descripcion').errors?.maxlength?.requiredLength}} digitos como maximo.
      </mat-error>
    </mat-form-field>













    <div class="dropzone no-select full-width full-column" appDropzone (hovered)="toggleHover($event)"
      (dropped)="onDrop($event)" [class.hovering]="isHovering">

      <mat-icon class="upload-icon">
        cloud_upload
      </mat-icon>

      <p class="text-info" align="center">Arrastra y suelta uno o varios archivos aqui.</p>
      <p class="text-hovering" align="center">Suelta aqui.</p>
      <p>o</p>

      <div class="file">
        <label class="file-label">
          <input class="file-input" type="file" (change)="onDrop($event.target.files)">
          <span>
            Buscar archivo
          </span>
        </label>
      </div>
    </div>

    <!-- *ngFor="let documento of documentos" -->
    <!-- <div class="documento full-width full-column" [class.error]="documento.error === undefined ? false: true"
      [attr.disabled]="!continue" [class.success]="documento.uploaded" *ngFor="let documento of images">

      <div class="icon-type">
        <div class="type">
          {{getType(documento.file.name)}}
        </div>
        <mat-icon class="icon-documento" [class.c-error]="documento.error === undefined ? false: true"
          [class.c-success]="documento.uploaded">
          insert_drive_file
        </mat-icon>
      </div>

      <div class="title">
        {{documento.file.name}}
      </div>
      <div class="size">
        {{ formatBytes(documento.file.size)}}
      </div>

      <mat-progress-bar class="progress" mode="determinate" [value]="documento.progress">
      </mat-progress-bar>

      <button mat-icon-button class="delete-documento" (click)="onDelete(documento)" *ngIf="!isClicked">
        <mat-icon>
          close
        </mat-icon>
      </button>
    </div> -->



    <div cdkDropList class="example-list documento full-width full-column" (cdkDropListDropped)="drop($event)">
      <div class="example-box" class="documento full-width full-column"
        [class.error]="image.error === undefined ? false: true" [attr.disabled]="!continue"
        [class.success]="image.uploaded" *ngFor="let image of images" cdkDrag>
        <div class="icon-type">
          <div class="type">
            {{getType(image.file.name)}}
          </div>
          <mat-icon class="icon-documento" [class.c-error]="image.error === undefined ? false: true"
            [class.c-success]="image.uploaded">
            insert_drive_file
          </mat-icon>
        </div>
        <div class="title">
          {{image.file.name}}
        </div>
        <div class="size">
          {{ formatBytes(image.file.size)}}
        </div>
        <mat-progress-bar class="progress" mode="determinate" [value]="image.progress">
        </mat-progress-bar>
        <button mat-icon-button class="delete-documento" (click)="onDelete(image)" *ngIf="!isClicked">
          <mat-icon>
            close
          </mat-icon>
        </button>
        <img *cdkDragPreview [src]="image.src" [alt]="image.file.name" class="img-preview ">
      </div>
    </div>

  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="false" class="mat-btn-secondary full-width"
    [disabled]="(isClicked )">Cancelar</button>
  <button mat-button class="mat-btn-success" (click)="addProducto(productoForm.value)"
    [disabled]="!productoForm.valid || !images.length" *ngIf="!isClicked else btn_continue">
    Guardar
  </button>
</mat-dialog-actions>


<ng-template #btn_continue>
  <button mat-button class="mat-btn-success" [matDialogClose]="true" [disabled]="!continue">
    Continuar
  </button>
</ng-template>
