<div class="content">




  <div class="servicio" *ngFor="let os of obsrServicio">
    <div class=" mat-elevation-z3 header">
      <h3 class="title">
        {{os.servicio.nombre | titlecase}}
      </h3>
      <button mat-icon-button (click)="newObservacionServicio(os.servicio)">
        <mat-icon>
          add
        </mat-icon>
      </button>
    </div>


    <div class="observacion mat-elevation-z2" *ngFor="let observacion of os.observaciones">
      <div class="estado">
        {{observacion.estado}}
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>
            more_horiz
          </mat-icon>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="updateObservacionServicio(observacion)">
              <mat-icon>edit</mat-icon>
              <span>Editar</span>
            </button>
            <button mat-menu-item (click)="deleteObservacionServicio(observacion)">
              <mat-icon>delete</mat-icon>
              <span>Eliminar</span>
            </button>
          </mat-menu>
        </button>

      </div>
      <div class="creadoEn">
        <mat-icon class="timer">
          schedule
        </mat-icon>
        <span>
          Creado en {{getTime(observacion.fecha) | titlecase}}
        </span>
      </div>
      <p class="descripcion">
        {{observacion.descripcion}}
      </p>
    </div>
  </div>







</div>
