.content::after {
  content: "";
  background-image: url('./../../../assets/bg.svg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

td {
  cursor: pointer;
}

tr:hover {
  background-color: white;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.observaciones-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex-wrap: wrap;

  &:hover {
    background-color: white;
  }
}

.observaciones-container .observacion {
  width: 100%;
  height: auto;
  word-break: break-all;
  word-wrap: break-word;

  &:hover {
    background-color: whitesmoke;
  }

  .estado {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;



    h3 {
      background-color: var(--info);
      color: white;
      border-radius: 25px 25px 25px 0px;
      padding: 0 10px;
      margin-top: 5px;
      font-weight: 600;
    }
  }

  .creadoEn {
    margin-top: -15px;
    color: var(--secondary);
  }

  .creadoEn mat-icon {
    font-size: 11px;
    font-weight: bold;
    width: auto;
    height: auto;
    vertical-align: middle;
    color: var(--secondary);
  }

  .creadoEn span {
    font-size: 11px;
    font-weight: bold;
  }

  .descripcion {
    width: 100%;
    word-break: break-all;
  }






}




























// table {
//   width: 100%;
// }

// tr.example-detail-row {
//   height: 0;
// }

// tr.example-element-row:not(.example-expanded-row):hover {
//   background: whitesmoke;
// }

// tr.example-element-row:not(.example-expanded-row):active {
//   background: #efefef;
// }

// .example-element-row td {
//   border-bottom-width: 0;
// }

// .example-element-detail {
//   overflow: hidden;
//   display: flex;
// }

// .example-element-diagram {
//   min-width: 80px;
//   border: 2px solid black;
//   padding: 8px;
//   font-weight: lighter;
//   margin: 8px 0;
//   height: 104px;
// }

// .example-element-symbol {
//   font-weight: bold;
//   font-size: 40px;
//   line-height: normal;
// }

// .example-element-description {
//   padding: 16px;
// }

// .example-element-description-attribution {
//   opacity: 0.5;
// }
