<h2 align="center" mat-dialog-title>
  Nuevo Participante
</h2>
<mat-dialog-content>
  <form class="new-form" [formGroup]="usuarioVisitaForm">
    <!-- *cliente -->
    <mat-form-field class="full-width full-column">
      <mat-label>Usuarios</mat-label>

      <mat-select style="position: relative;" formControlName="usuario" multiple>
        <div style="padding: 5px 5px 0 5px;
            position: -webkit-sticky;
            position: sticky;
            top: 0;
            background-color: white;
            z-index: 1;">
          <mat-form-field style=" width: 100%; ">
            <mat-label>Buscar</mat-label>
            <input matInput (keyup)="onKey($event.target.value)" autocomplete="off" #search>

            <button mat-icon-button matSuffix *ngIf="search.value" (click)="onKey('')" (click)="search.value=''">
              <mat-icon style="font-size: 20px;">
                clear
              </mat-icon>
            </button>
          </mat-form-field>
        </div>

        <mat-option *ngFor=" let usuario of selectedUsuario" [value]="usuario">
          {{ usuario.nombre + ' ' + usuario.apellidoPaterno + ' ' + usuario.apellidoMaterno | titlecase}}
        </mat-option>
      </mat-select>

      <mat-icon matSuffix [color]="isValidField('usuario').color">
        {{isValidField('usuario').icon}}
      </mat-icon>
      <mat-error *ngIf="usuarioVisitaForm.get('usuario').errors?.required">
        Seleccione un usuario.
      </mat-error>
    </mat-form-field>
  </form>

  <mat-divider></mat-divider>

  <h2 align="center">Seleccionados</h2>
  <div *ngIf="usuarioVisitaForm.value.usuario.length else notSelected">
    <mat-selection-list #usuario [multiple]="false">
      <mat-list-option *ngFor="let usuario of usuarioVisitaForm.value.usuario" [value]="usuario" align="center"
        (click)="visitasPendientes(usuario)">
        {{usuario.nombre + ' ' + usuario.apellidoPaterno + ' ' + usuario.apellidoMaterno | titlecase}}
      </mat-list-option>
    </mat-selection-list>
  </div>

  <ng-template #notSelected>
    <p align="center">
      No se ha seleccionado ningun usuario.
    </p>
  </ng-template>

</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close class="mat-btn-secondary">Cancelar</button>
  <button mat-button class="mat-btn-success" [disabled]="!usuarioVisitaForm.valid"
    (click)="newUsuario(usuarioVisitaForm.value.usuario)">
    Guardar
  </button>
</mat-dialog-actions>
