.new-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  padding: 10px;
}

.select-search {
  padding: 5px 5px 0 5px;
  position: -webkit-sticky;
  position: sticky !important;
  top: 0;
  background-color: var(--card-bg);
  color: var(--text-color);
  z-index: 1;
}

.text-center {
  text-align: center;
}

.full-column {
  grid-column: span 3;
}

@media screen and (max-width: 625px) {
  .new-form {
    display: grid;
    grid-template-columns: minmax(100%, 1fr);
    grid-gap: 0;
    padding: 0;
  }

  .full-column {
    grid-column: 1;
  }
}

mat-dialog-actions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media screen and (max-width: 400px) {
  mat-dialog-actions {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;

    .mat-btn-success,
    .mat-btn-secondary {
      margin: 5px 0;
      width: 100%;
    }
  }

  .full-column {
    grid-column: 1;
  }
}
