<h1 mat-dialog-title align="center">
  Nuevo Detalle
</h1>

<mat-dialog-content>

  <form class="new-form" [formGroup]="detalleForm">

    <!-- *Descripcion -->
    <mat-form-field class="full-width full-column" [color]="isValidField('descripcion').color">
      <mat-label>Descripcion</mat-label>
      <textarea matInput placeholder="Ex. servicio de carpinteria." formControlName="descripcion"
        autocomplete="off"></textarea>
      <mat-icon matSuffix [color]="isValidField('descripcion').color">
        {{isValidField('descripcion').icon}}
      </mat-icon>
      <mat-hint align="end">
        {{detalleForm.value.descripcion ? detalleForm.value.descripcion.length : 0}}/300
      </mat-hint>
      <mat-error *ngIf="detalleForm.get('descripcion').errors?.required">
        Ingrese una descripcion.
      </mat-error>
      <mat-error *ngIf="detalleForm.get('descripcion').errors?.maxlength">
        Debe contener {{detalleForm.get('descripcion').errors?.maxlength?.requiredLength}} digitos como maximo.
      </mat-error>
    </mat-form-field>

    <!-- *Unidad -->
    <mat-form-field class="full-width full-column" [color]="isValidField('unidad').color">
      <mat-label>Unidad</mat-label>
      <mat-select style="position: relative;" class="text-center" formControlName="unidad">
        <div style="padding: 5px 5px 0 5px;
          position: -webkit-sticky; position: sticky; top: 0;  background-color: white;  z-index: 1; ">
          <mat-form-field style=" width: 100%; ">
            <mat-label>Buscar</mat-label>
            <input matInput (keyup)="onKey($event.target.value)" autocomplete="off" #search>
            <button mat-icon-button matSuffix *ngIf="search.value" (click)="onKey('')" (click)="search.value=''">
              <mat-icon style="font-size: 20px;">
                clear
              </mat-icon>
            </button>
          </mat-form-field>
        </div>
        <mat-option *ngFor=" let unidad of selectedUnidades" [value]="unidad.value">
          {{unidad.value}} - {{unidad.text}}
        </mat-option>
      </mat-select>
      <mat-icon matSuffix [color]="isValidField('unidad').color">
        {{isValidField('unidad').icon}}
      </mat-icon>
      <mat-error *ngIf="detalleForm.get('unidad').errors?.required">
        Seleccione una unidad.
      </mat-error>
    </mat-form-field>

    <!-- *Cantidad -->
    <mat-form-field class="full-width " [color]="isValidField('cantidad').color">
      <mat-label>Cantidad</mat-label>
      <input matInput class="text-center" type="number" formControlName="cantidad">
    </mat-form-field>

    <!-- *PrecioUnitario -->
    <mat-form-field class="full-width" [color]="isValidField('precioUnitario').color">
      <mat-label>
        Precio Unitario
      </mat-label>
      <input class="text-center" matInput type="number" formControlName="precioUnitario">
    </mat-form-field>

  </form>
</mat-dialog-content>

<mat-dialog-actions align="center">
  <button mat-button [mat-dialog-close]="false" class="mat-btn-secondary full-width">Cancelar</button>
  <button mat-button class="mat-btn-success full-width" [disabled]="!detalleForm.valid"
    (click)="addDetellaCapitulo(this.detalleForm.value)">
    Guardar
  </button>
</mat-dialog-actions>
