<h2 align="center" mat-dialog-title>
  Nuevo Proyecto
</h2>
<mat-dialog-content>
  <form class="new-proyecto-form" [formGroup]="proyectoForm">

    <!-- *Nombre -->
    <mat-form-field class="full-width full-column" [color]="isValidField('nombre').color">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="nombre" autocomplete="off">
      <mat-icon matSuffix [color]="isValidField('nombre').color">
        {{isValidField('nombre').icon}}
      </mat-icon>
      <mat-error *ngIf="proyectoForm.get('nombre').errors?.required">
        Ingrese un nombre.
      </mat-error>
      <mat-error *ngIf="proyectoForm.get('nombre').errors?.pattern">
        Debe incluir solo letras en minuscula o numeros.
      </mat-error>
    </mat-form-field>



    <!-- *cliente -->
    <mat-form-field class="full-width full-column">
      <mat-label>Cliente</mat-label>
      <mat-select style="position: relative;" formControlName="uuidCliente">
        <div style="padding: 5px 5px 0 5px;
          position: -webkit-sticky; position: sticky; top: 0;  background-color: white;  z-index: 1; ">
          <mat-form-field style=" width: 100%; ">
            <mat-label>Buscar</mat-label>
            <input matInput (keyup)="onKey($event.target.value)" autocomplete="off" #search>
            <button mat-icon-button matSuffix *ngIf="search.value" (click)="onKey('')" (click)="search.value=''">
              <mat-icon style="font-size: 20px;">
                clear
              </mat-icon>
            </button>
          </mat-form-field>
        </div>
        <mat-option *ngFor=" let cliente of selectedClientes" [value]="cliente.uuid">
          {{cliente.nombre + ' ' + cliente.apellidoPaterno + ' ' + cliente.apellidoMaterno}}
        </mat-option>
      </mat-select>
      <mat-icon matSuffix [color]="isValidField('uuidCliente').color">
        {{isValidField('uuidCliente').icon}}
      </mat-icon>
      <mat-error *ngIf="proyectoForm.get('uuidCliente').errors?.required">
        Seleccione un cliente.
      </mat-error>
    </mat-form-field>

    <!-- *categoria -->
    <mat-form-field class="full-width">
      <mat-label>Categoria</mat-label>
      <mat-select value="construccion" formControlName="categoria">
        <mat-option value="construccion">
          Construcción
        </mat-option>
        <mat-option value="estructural">
          Estructural
        </mat-option>
        <mat-option value="ambiental">
          Ambiental
        </mat-option>
        <mat-option value="transporte">
          Transporte
        </mat-option>
        <mat-option value="geotecnica">
          Geotécnica
        </mat-option>
        <mat-option value="hidraulica">
          Hidráulica
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- *estado -->
    <mat-form-field class="full-width">
      <mat-label>Estado</mat-label>
      <mat-select [value]="true" formControlName="estado">
        <mat-option [value]="true">
          Activo
        </mat-option>
        <mat-option [value]="false">
          Inactivo
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- *fechaInicio -->
    <mat-form-field class="full-width">
      <mat-label>Fecha Inicio</mat-label>
      <input matInput [matDatepicker]="fechaInicio" autocomplete="off" formControlName="fechaInicio">
      <mat-datepicker-toggle matSuffix [for]="fechaInicio"></mat-datepicker-toggle>
      <mat-datepicker #fechaInicio></mat-datepicker>
    </mat-form-field>

    <!-- *fechaFinal -->
    <mat-form-field class="full-width">
      <mat-label>Fecha Final</mat-label>
      <input matInput [matDatepicker]="fechaFinal" autocomplete="off" formControlName="fechaFinal">
      <mat-datepicker-toggle matSuffix [for]="fechaFinal"></mat-datepicker-toggle>
      <mat-datepicker #fechaFinal></mat-datepicker>
    </mat-form-field>

    <!-- *Descripcion -->
    <mat-form-field class="full-width full-column" [color]="isValidField('descripcion').color">
      <mat-label>Descripcion</mat-label>
      <textarea matInput placeholder="Ex. Avenida Segunda" formControlName="descripcion"></textarea>
      <mat-hint align="end">
        {{proyectoForm.value.descripcion ? proyectoForm.value.descripcion.length : 0}}/200
      </mat-hint>
      <mat-icon matSuffix [color]="isValidField('descripcion').color" *ngIf="proyectoForm.value.descripcion">
        {{isValidField('descripcion').icon}}
      </mat-icon>
      <mat-error *ngIf="proyectoForm.get('descripcion').errors?.maxlength">
        Debe contener {{proyectoForm.get('descripcion').errors?.maxlength?.requiredLength}} digitos como maximo.
      </mat-error>
    </mat-form-field>

    <!-- *LugarProyecto -->
    <mat-form-field class="full-width full-column" [color]="isValidField('lugarProyecto').color">
      <mat-label>Lugar del Proyecto</mat-label>
      <textarea matInput placeholder="Ex. Avenida Segunda" formControlName="lugarProyecto"></textarea>
      <mat-hint align="end">
        {{proyectoForm.value.lugarProyecto ? proyectoForm.value.lugarProyecto.length : 0}}/200
      </mat-hint>
      <mat-icon matSuffix [color]="isValidField('lugarProyecto').color" *ngIf="proyectoForm.value.lugarProyecto">
        {{isValidField('lugarProyecto').icon}}
      </mat-icon>
      <mat-error *ngIf="proyectoForm.get('lugarProyecto').errors?.maxlength">
        Debe contener {{proyectoForm.get('lugarProyecto').errors?.maxlength?.requiredLength}} digitos como maximo.
      </mat-error>
    </mat-form-field>

  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="false" class="mat-btn-secondary full-width">Cancelar</button>
  <button mat-button class="mat-btn-success" (click)="onAddProyecto(proyectoForm.value)"
    [disabled]="!proyectoForm.valid">
    Guardar
  </button>
</mat-dialog-actions>
