<h2 align="center" mat-dialog-title>
  Nuevo Proyecto
</h2>
<mat-dialog-content>
  <form class="new-proyecto-form" [formGroup]="proyectoForm">


    <mat-form-field style="width: auto;">
      <mat-label>Number</mat-label>
      <input type="text" placeholder="Pick one" aria-label="Number" matInput formControlName="uuidCliente"
        [matAutocomplete]="auto" #cliente>

      <button mat-icon-button matSuffix *ngIf="proyectoForm.value.uuidCliente !== ''" (click)=" cliente = ''">
        <mat-icon style="font-size: 20px;">
          backspace
        </mat-icon>
      </button>

      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let cliente of filteredOptions | async" [value]="cliente.uuid">
          {{cliente.nombre +' '+ cliente.apellidoPaterno + ' '+ cliente.apellidoMaterno}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>



  </form>
</mat-dialog-content>
